{{ attach_library('boulder_base/trusted-share-button') }}

{% set full_url = fields.source_site.content ~ fields.remote_path.content %}

<article class="ucb-card container">
  <div class="row ucb-card-inner">
{% if fields.focal_image_square.content %}
    <div class="col-md-2 ucb-card-image">
      <a href="{{full_url}}" role="presentation" aria-hidden="true">
        <img
          src="{{ fields.focal_image_square.content|render|striptags }}"
          alt="{{ fields.title.content|striptags }}"
        >
      </a>
    </div>
{% endif %}

    <div class="col-sm-12 col-md-10 ucb-card-content">
      <a href="{{full_url}}">
        <h2 class="ucb-card-title">{{ fields.title.content|striptags }}</h2>
      </a>

      {% if fields.changed is defined %}
        <span class="ucb-card-date">{{ fields.changed.content|striptags }}</span>
      {% endif %}

      <p class="ucb-card-summary">{{ fields.summary.content|striptags }}</p>
      <p> For the endpoint: </p>
        <p>{{ fields.source_site.content }}</p>
        <p>{{ fields.remote_type.content }}</p>
        <p>{{ fields.remote_uuid.content }}</p>
        <p>id</p>
        <p>{{ fields.remote_nid.content }}</p>
      <span class="ucb-card-readmore">
        <a href="{{full_url}}" aria-hidden="true">Read more</a>
      </span>
      <trusted-share-button {{ create_attribute({
          'base-uri' : fields.source_site.content,
          'nid' : fields.remote_nid.content,
          'node-type' : fields.remote_type.content
          }) }}
        ><i class="fa-solid fa-share"></i>Share on your site</trusted-share-button>
    </div>

  </div>
</article>
