{#
/**
 * @file
 * Theme to implement a article text and media block Paragraph
 *
 * Created by Joshua Nicholson on 11/22/21
*
#}
{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
    paragraph.field_article_media_location.value, 
    paragraph.field_article_blockquote_icon.value,
  ]
%}

  {# set classes for the location of the media in the component #}
{% set imgLocation = '' %}

{% if content.field_article_media_selection|render %}
    {% set imgLocation = 'top' %}

    {% if paragraph.field_article_media_location.value is same as("0") %}
      {% set imgLocation = "top" %}
    {% elseif paragraph.field_article_media_location.value is same as("1") %}
      {% set imgLocation = "bottom" %}
    {% elseif paragraph.field_article_media_location.value is same as("2") %}
      {% set imgLocation = "left" %}
    {% elseif paragraph.field_article_media_location.value is same as("3") %}
      {% set imgLocation = "right" %}
    {% endif %}
{% endif %}

{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% if imgLocation %}
        {% if imgLocation == 'top' %}
        <div class="ucb-article-content-media ucb-article-content-media-above">
            {{ content.field_article_media_selection }}
        </div>
          <div class="ucb-article-text" itemprop="articleBody">
            {{ content.field_article_text }}
          </div>
        {% elseif imgLocation == 'bottom' %}
          <div class="ucb-article-text below-content" itemprop="articleBody">
            {{ content.field_article_text }}
          </div>
          <div class="ucb-article-content-media ucb-article-content-media-below">
            {{ content.field_article_media_selection }}
          </div>
        {% elseif imgLocation == 'left' %}
            <div class="ucb-article-row-subrow row">
                <div class="ucb-article-content-media ucb-article-content-media-left col-lg">
                    {{ content.field_article_media_selection }}
                </div>
                <div class="col-lg ucb-article-text" itemprop="articleBody">
                    {{ content.field_article_text }}
                </div>
            </div>
        {% elseif imgLocation == 'right' %}
            <div class="ucb-article-row-subrow row">
                <div class="col-lg ucb-article-text" itemprop="articleBody">
                    {{ content.field_article_text }}
                </div>
                <div class="ucb-article-content-media ucb-article-content-media-right col-lg">
                  {{ content.field_article_media_selection }}
                </div>
            </div>
        {% else %}
            {% if content.field_article_media|render %}
              <div class="ucb-article-content-media">
                {{ content.field_article_media_selection }}
              </div>
            {% endif %}
            {% if content.field_article_text|render %}
              <div class="ucb-article-text" itemprop="articleBody">
                {{ content.field_article_text }}
              </div>
            {% endif %}
        {% endif %}

    {% else %}
      <div class="ucb-article-text" itemprop="articleBody">
        {{ content.field_article_text }}
      </div>
    {% endif %}
  </div>
{% endblock paragraph %}



