{#
/**
 * @file
 * Theme to implement the newsletter section content
 *
 * Created by Joshua Nicholson on 4/28/22
*
#}

{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}

{% block paragraph %}
	<div{{attributes.addClass(classes)}}>
		<h2>{{ content.field_newsletter_section_title }}</h2>
		{# Unpublished Content Warning #}
		{% if logged_in == 'true' %}
				{% for key, item in paragraph.field_newsletter_section_select %}
				{%  if key|first != '#' %}
					{% if not item.entity.field_newsletter_article_select.entity.isPublished() %}
						{% if item.entity.field_newsletter_article_select.entity.bundle() == 'ucb_article' %}
						<p class="ucb-article-unpublished"> Section Content Warning: {{ item.entity.field_newsletter_article_select.entity.title.value|render|striptags|trim }} is unpublished. </p>
						{% endif %}
					{% endif %}
				{% endif %}
			{% endfor %}
		{% endif %}
    {# Feature #}
		{% if paragraph.field_newsletter_section_style.value is same as("0") %}
			{% for key, item in paragraph.field_newsletter_section_select %}
				{%  if key|first != '#' %}
					<div class="ucb-newsletter-section-article {{unpublishedClass}}">
					{# Code to render selected article content (thumbnail) #}
					{% if item.entity.field_newsletter_article_select.entity.field_ucb_article_thumbnail.entity.field_media_image.alt|render %}
						<div id='feature-article-thumbnail-{{key}}' class="feature-article-img"> {{ item.entity.field_newsletter_article_select.entity.field_ucb_article_thumbnail|view }} </div>

						{# Code to render selected article content (!thumbnail) #}
					{% elseif item.entity.field_newsletter_article_select.entity.field_ucb_article_content.entity.field_article_media_selection.entity.field_media.entity.field_media_image.alt|render %}
						<div id='feature-article-content-{{key}}' class="feature-article-img">{{ item.entity.field_newsletter_article_select.entity.field_ucb_article_content.entity.field_article_media_selection.entity.field_media|view }}</div>

						{# Code to render user made content #}
					{% elseif item.entity.field_newsletter_content_image.entity.field_media_image.alt|render %}
						<div id='feature-article-media-img-{{key}}' class="feature-article-img">{{ item.entity.field_newsletter_content_image|view }}</div>
					{% endif %}

					{# Code to render selected article title/url #}
					{% if item.entity.field_newsletter_article_select.entity.title.value|render %}
					<div id="feature-article-title-{{key}}">
						{# Warning for unpublished Article #}
						<h3>
							<a href="{{ path('entity.node.canonical', {'node': item.entity.field_newsletter_article_select.target_id}) }}">
								{{ item.entity.field_newsletter_article_select.entity.title.value|render|striptags|trim }}
							</a>
						</h3>
					</div>
						{# Code to render user made content (title) #}
					{% elseif item.entity.field_newsletter_content_title.value|render %}
					<div id="feature-article-user-title-{{key}}">
						{% if item.entity.field_newsletter_content_url.0.url %}
						<h3>
							<a href="{{item.entity.field_newsletter_content_url.0.url}}">
								{{ item.entity.field_newsletter_content_title|view }}
							</a>
						</h3>
						{% else %}
						<h3>
							{{ item.entity.field_newsletter_content_title|view }}
						</h3>
						{% endif %}
					</div>
					{% endif %}


					{# Code to render selected article content (categories) #}
					{% if item.entity.field_newsletter_article_select.entity.field_ucb_article_categories is not empty %}
						<div class="article-teaser-meta">
							{{ item.entity.field_newsletter_article_select.entity.field_ucb_article_categories|view }}
						</div>
					{% endif %}
					{# Code to render selected article content (summary) #}
					{% if item.entity.field_newsletter_article_select.entity.field_ucb_article_summary.value|render %}
						<div class="article-summary" id="feature-article-summary-{{key}}">
							{{ item.entity.field_newsletter_article_select.entity.field_ucb_article_summary|view }}
						</div>

						{# Code to render selected article content (article text) #}
					{% elseif item.entity.field_newsletter_article_select.entity.field_ucb_article_content.entity.field_article_text.value|render %}
						<div class="article-summary" id="feature-article-summary-text-{{key}}">
							{{ item.entity.field_newsletter_article_select.entity.field_ucb_article_content.entity.field_article_text|view }}
						</div>

						{# Code to render user made content (content text) #}
					{% elseif item.entity.field_newsletter_content_text.value|render %}
						<div class="article-summary" id="feature-article-summary-user-text-{{key}}">
							{{ item.entity.field_newsletter_content_text|view }}
						</div>
					{% endif %}
					</div>
				{% endif %}
			{% endfor %}
		{% else %}
    {# Teaser #}
			<div class="row row-content">
				{% for key, item in paragraph.field_newsletter_section_select %}
					{%  if key|first != '#' %}
						<div class="{{paragraph.field_newsletter_section_select|length > 1 ? 'col-lg-6' : '' }} col-12 pb-4">
              {# Code to render selected article content (thumbnail) #}
							{% if item.entity.field_newsletter_article_select.entity.field_ucb_article_thumbnail.entity.field_media_image.alt|render %}
							  <div class="teaser-article-img px-2">
								<img
								src="{{ item.entity.field_newsletter_article_select.entity.field_ucb_article_thumbnail.entity.field_media_image.entity.fileuri|image_style('focal_image_square') }}" alt="{{ item.entity.field_newsletter_article_select.entity.field_ucb_article_thumbnail.entity.field_media_image.alt|render }}"/>
								</div>
                {# Code to render selected article content (!thumbnail) #}
							{% elseif item.entity.field_newsletter_article_select.entity.field_ucb_article_content.entity.field_article_media_selection.entity.field_media.entity.field_media_image.alt|render %}
							<div class="teaser-article-img px-2">
              <img
								src="{{ item.entity.field_newsletter_article_select.entity.field_ucb_article_content.entity.field_article_media_selection.entity.field_media.entity.field_media_image.entity.fileuri|image_style('focal_image_square') }}" alt="{{ item.entity.field_newsletter_article_select.entity.field_ucb_article_content.entity.field_article_media_selection.entity.field_media.entity.field_media_image.alt|render }}"/>
								{# Code to render user made content #}
							</div>
              {% elseif item.entity.field_newsletter_content_image.entity.field_media_image.alt|render %}
							<div class="teaser-article-img px-2">
              <img src="{{ item.entity.field_newsletter_content_image.entity.field_media_image.entity.fileuri|image_style('focal_image_square') }}" alt="{{ item.entity.field_newsletter_content_image.entity.field_media_image.alt|render }}"/>
              </div>
              {% endif %}

							{# Code to render selected article title/url #}
							{% if item.entity.field_newsletter_article_select.entity.title.value|render %}
								<h3>
									<a href="{{ path('entity.node.canonical', {'node': item.entity.field_newsletter_article_select.target_id}) }}">
										{{ item.entity.field_newsletter_article_select.entity.title.value|render|striptags|trim }}
									</a>
								</h3>

								{# Code to render user made content (title) #}
							{% elseif item.entity.field_newsletter_content_title.value|render %}
								{% if item.entity.field_newsletter_content_url.0.url %}
									<h3>
										<a href="{{item.entity.field_newsletter_content_url.0.url}}">
											{{ item.entity.field_newsletter_content_title|view }}
										</a>
									</h3>
								{% else %}
								<h3>
									{{ item.entity.field_newsletter_content_title|view }}
								</h3>
								{% endif %}
							{% endif %}

							{# Code to render selected article content (categories) #}
							{% if item.entity.field_newsletter_article_select.entity.field_ucb_article_categories is not empty %}
								<div class="article-teaser-meta">
									{{ item.entity.field_newsletter_article_select.entity.field_ucb_article_categories|view }}
								</div>
							{% endif %}

							{# Code to render selected article content (summary) #}
							{% if item.entity.field_newsletter_article_select.entity.field_ucb_article_summary.value|render %}
								<div class="article-summary">
									{{ item.entity.field_newsletter_article_select.entity.field_ucb_article_summary|view }}
								</div>

								{# Code to render selected article content (article text) #}
							{% elseif item.entity.field_newsletter_article_select.entity.field_ucb_article_content.entity.field_article_text.value|render %}
								<div class="article-summary">
                  {% set textContent = item.entity.field_newsletter_article_select.entity.field_ucb_article_content.entity.field_article_text.value|striptags|replace({'&nbsp;': ' '}) %}
									{% set maxLength = 300 %}
									{% if textContent|length > maxLength %}
										{% set trimmedText = textContent|slice(0, maxLength)|trim ~ '...' %}
									{% else %}
										{% set trimmedText = textContent %}
									{% endif %}
									{{ trimmedText }}
								</div>

								{# Code to render user made content (content text) #}
							{% elseif item.entity.field_newsletter_content_text.value|render %}
								<div class="article-summary" id="teaser-article-summary-user-text--{{key}}">
									{{ item.entity.field_newsletter_content_text|view }}
								</div>
							{% endif %}

						</div>
					{% endif %}
				{% endfor %}
			</div>
		{% endif %}
		{% if content.field_newsletter_section_link|render %}
			{{ content.field_newsletter_section_link }}
		{% endif %}
	</div>
{% endblock paragraph %}
