{#
/**
 * @file
 * Theme to implement the newsletter section content in email friendly html
 * 
 * Notes: You must render Node data within a properly nested <td> element: <table>, <tbody>, <tr>, <td>, THEN your data within the <td> for Twig to nest it properly.
 * Otherwise your data will break out of the table and instead become a sibling element to the outer table element
 * See: https://www.w3schools.com/html/html_tables.asp
#}
{% block paragraph %}
<table role="presentation">
	<tbody>
  		<tr>
			<td>
      			<h2>{{ content.field_newsletter_section_title|render|striptags|trim }}</h2>
	  		</td>
 		</tr>
	</tbody>
 </table>
    {# Article #}
    {# If feature #}
		{% if paragraph.field_newsletter_section_style.value is same as("0") %}
		<!--Feature Style Section-->
			{% for key, item in paragraph.field_newsletter_section_select %}
				{%  if key|first != '#' %}
					{# Code to render selected article content (thumbnail) #}
					<!--Feature Article-->
					<table role="presentation">
						<tbody>
							<tr>
								{% if item.entity.field_newsletter_article_select.entity.field_ucb_article_thumbnail.entity.field_media_image.alt|render %}
								<td>
									<a href="{{ path('entity.node.canonical', {'node': item.entity.field_newsletter_article_select.target_id}) }}">
									<img src="{{file_url(item.entity.field_newsletter_article_select.entity.field_ucb_article_thumbnail.entity.field_media_image.entity.fileuri|image_style('focal_image_square'))}}"/>
									</a>
								</td>
									{# Code to render selected article content (!thumbnail) #}
								{% elseif item.entity.field_newsletter_article_select.entity.field_ucb_article_content.entity.field_article_media_selection.entity.field_media.entity.field_media_image.alt|render %}
								<td>
									<a href="{{ path('entity.node.canonical', {'node': item.entity.field_newsletter_article_select.target_id}) }}">
									<img src="{{file_url(item.entity.field_newsletter_article_select.entity.field_ucb_article_content.entity.field_article_media_selection.entity.field_media.fileuri|image_style('focal_image_square'))}}"/>
									</a>
								</td>
									{# Code to render user made content #}
								{% elseif item.entity.field_newsletter_content_image.entity.field_media_image.alt|render %}
								<td>
									<a href="{{ path('entity.node.canonical', {'node': item.entity.field_newsletter_article_select.target_id}) }}">
									<img src="{{file_url(item.entity.field_newsletter_content_image.entity.field_media_image.entity.fileuri|image_style('focal_image_square'))}}"/>
									</a>
								</td>
								{% endif %}
							</tr>
				{# Code to render selected article title/url #}
					{% if item.entity.field_newsletter_article_select.entity.title.value|render %}
					<tr id="feature-article-title-email-{{key}}">
						<td>
							<h3>
								<a href="{{ path('entity.node.canonical', {'node': item.entity.field_newsletter_article_select.target_id}) }}">
									{{ item.entity.field_newsletter_article_select.entity.title.value|render|striptags|trim }}
								</a>
							</h3>
						</td>
					</tr>
						{# Code to render user made content (title) #}
					{% elseif item.entity.field_newsletter_content_title.value|render %}
					<tr id="feature-article-user-title-email-{{key}}">
						<td>
							<h3>
								{{ item.entity.field_newsletter_content_title|view }}
							</h3>
						</td>
					</tr>
					{% endif %}
				{# Code to render selected article content (categories) #}
				{% if item.entity.field_newsletter_article_select.entity.field_ucb_article_categories is not empty %}
				<tr>
					{# TO DO - Fix categories #}
					<td>{{ item.entity.field_newsletter_article_select.entity.field_ucb_article_categories|view }}</td>
				</tr>

				{# Code to render user made content (categories) #}
				{% elseif item.entity.field_news_content_categories is not empty %}
				<tr>
					{# TO DO - Fix categories #}
					<td>{{ item.entity.field_news_content_categories|view }}</td>
				</tr>
				{% endif %}
					{# Code to render selected article content (summary) #}
					{% if item.entity.field_newsletter_article_select.entity.field_ucb_article_summary.value|render %}
						<tr id="feature-article-summary-email-{{key}}">
							<td>{{ item.entity.field_newsletter_article_select.entity.field_ucb_article_summary|view }}</td>
						</tr>

						{# Code to render selected article content (article text) #}
					{% elseif item.entity.field_newsletter_article_select.entity.field_ucb_article_content.entity.field_article_text.value|render %}
						<tr id="feature-article-summary-text-email-{{key}}">
							<td>{{ item.entity.field_newsletter_article_select.entity.field_ucb_article_content.entity.field_article_text|view }}</td>
						</tr>

						{# Code to render user made content (content text) #}
					{% elseif item.entity.field_newsletter_content_text.value|render %}
						<tr id="feature-article-summary-user-text-email-{{key}}">
							<td>{{ item.entity.field_newsletter_content_text|view }}</td>
						</tr>
					{% endif %}
						</tbody>
					</table>
				{% endif %}
			{% endfor %}
		{% else %}
		<!--Teaser Section-->
				{% for key, item in paragraph.field_newsletter_section_select %}
					{%  if key|first != '#' %}
					<!--Teaser Article-->
					<table role="presentation">
						<tbody>
							<tr>
								{# Image #}
								<td>
										{# Code to render selected article content (thumbnail) #}
										{% if item.entity.field_newsletter_article_select.entity.field_ucb_article_thumbnail.entity.field_media_image.alt|render %}
											<img
											width="100px"
											height="100px"
											src="{{ item.entity.field_newsletter_article_select.entity.field_ucb_article_thumbnail.entity.field_media_image.entity.fileuri|image_style('focal_image_square') }}" alt="{{ item.entity.field_newsletter_article_select.entity.field_ucb_article_thumbnail.entity.field_media_image.alt|render }}"/>
			
											{# Code to render selected article content (!thumbnail) #}
										{% elseif item.entity.field_newsletter_article_select.entity.field_ucb_article_content.entity.field_article_media_selection.entity.field_media.entity.field_media_image.alt|render %}
											<img
											width="100px"
											height="100px"
											src="{{ item.entity.field_newsletter_article_select.entity.field_ucb_article_content.entity.field_article_media_selection.entity.field_media.entity.field_media_image.entity.fileuri|image_style('focal_image_square') }}" alt="{{ item.entity.field_newsletter_article_select.entity.field_ucb_article_content.entity.field_article_media_selection.entity.field_media.entity.field_media_image.alt|render }}"/>
			
											{# Code to render user made content #}
										{% elseif item.entity.field_newsletter_content_image.entity.field_media_image.alt|render %}
											<img
											width="100px"
											height="100px"
											 src="{{ item.entity.field_newsletter_content_image.entity.field_media_image.entity.fileuri|image_style('focal_image_square') }}" alt="{{ item.entity.field_newsletter_content_image.entity.field_media_image.alt|render }}"/>
										{% endif %}
								</td>
								{# Header, Summary, Cats #}
								<td>
									<table role="presentation">
										<tbody>
											{# Header #}
											<tr>
												{# Code to render selected article title/url #}
												{% if item.entity.field_newsletter_article_select.entity.title.value|render %}
												<td>
													<h3>
													<a href="{{ path('entity.node.canonical', {'node': item.entity.field_newsletter_article_select.target_id}) }}">
														{{ item.entity.field_newsletter_article_select.entity.title.value|render|striptags|trim }}
													</a>
												</h3>
												</td>

												{# Code to render user made content (title) #}
											{% elseif item.entity.field_newsletter_content_title.value|render %}
											<td>
												<h3>
													{{ item.entity.field_newsletter_content_title|view }}
												</h3>
											</td>
											{% endif %}
											</tr>											
											{# Categories #}
							{# Code to render selected article content (categories) #}
							{% if item.entity.field_newsletter_article_select.entity.field_ucb_article_categories is not empty %}
							<tr>
								<td>
														{# TO DO - Fix categories #}
									{{ item.entity.field_newsletter_article_select.entity.field_ucb_article_categories|view }}
								</td>
							</tr>
							{# Code to render user made content (categories) #}
						{% elseif item.entity.field_news_content_categories is not empty %}
						<tr>
							<td>
													{# TO DO - Fix categories #}
								{{ item.entity.field_news_content_categories|view }}
							</td>
						</tr>
						{% endif %}
							{# Code to render selected article content (summary) #}
						{% if item.entity.field_newsletter_article_select.entity.field_ucb_article_summary.value|render %}
													<tr>
														<td>{{ item.entity.field_newsletter_article_select.entity.field_ucb_article_summary|view }}</td>
													</tr>
					
													{# Code to render selected article content (article text) #}
												{% elseif item.entity.field_newsletter_article_select.entity.field_ucb_article_content.entity.field_article_text.value|render %}
													<tr>
														<td>{{ item.entity.field_newsletter_article_select.entity.field_ucb_article_content.entity.field_article_text|view }}</td>
													</tr>
					
													{# Code to render user made content (content text) #}
												{% elseif item.entity.field_newsletter_content_text.value|render %}
													<tr>
														<td>{{ item.entity.field_newsletter_content_text|view }}</td>
													</tr>
												{% endif %}
										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
				{% endif %}
			{% endfor %}
		{% endif %}
		<!--Article Section Link-->
		{% if content.field_newsletter_section_link|render %}
			{{ content.field_newsletter_section_link }}
		{% endif %}
		{% endblock %}