{%
    set classes = [
      'paragraph',
      'paragraph--type--' ~ paragraph.bundle|clean_class,
      view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
      not paragraph.isPublished() ? 'paragraph--unpublished',
      'accordion'
    ]
  %}


<div{{ attributes.addClass(classes) }} id="accordion-{{ paragraph.id() }}">
  <h2>{{ content.field_ucb_faq_section_title }}</h2>
  {% for key, item in paragraph.field_ucb_faq_question_ans_para %}
    {% set unique_id = 'collapse-' ~ paragraph.id() ~ '-' ~ key %}
    <div class="accordion-item" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
      <div class="accordion-header" id="heading-{{ unique_id }}">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{ unique_id }}" aria-expanded="false" aria-controls="{{ unique_id }}">
          <h2 itemprop="name">{{ item.entity.field_ucb_faq_question.value }}</h2>
        </button>
    </div>
      <div id="{{ unique_id }}" class="accordion-collapse collapse" aria-labelledby="heading-{{ unique_id }}" data-bs-parent="#accordion-{{ paragraph.id() }}">
        <div class="accordion-body" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
          <div itemprop="text">
            {{ item.entity.field_ucb_faq_answer.processed }}
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>


