<div class="howToStep eachStepDiv">
	<div class="eachStepImage">
		{{ content.field_how_to_step_image|render }}
	</div>
	<div class="eachStepContentDiv verticalFlex">
		<span class="howToStepTitle{{ paragraph.id() }} stepTitle">{{ content.field_how_to_step_title|render }}</span>
		<span class="howToStepText{{ paragraph.id() }} stepText">{{ content.field_how_to_step_text|render }}</span>
	</div>
</div>
