{#
/**
 * @file
 * Image slider for article secondary content (carousel only; no block style options).
 */
#}
{% set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished',
  paragraph.field_slider_text_style.value,
  'ucb-slider-block',
] %}

{% set id = 'carousel'|clean_unique_id %}

{% block paragraph %}
  <div class="ucb-article-content ucb-striped-content">
    <div class="container">
      <div{{ attributes.addClass(classes) }}>
        <div class="ucb-article-row-subrow row">
          <div class="col-12">
            {{ attach_library('boulder_base/ucb-slider') }}
            <div id="{{ id }}" class="carousel slide" data-bs-ride="carousel" data-bs-interval="7000" data-bs-pause="hover">
              <div class="carousel-indicators">
                {% for i in 1..paragraph.field_slider_slide.value|length %}
                  <button{{ create_attribute({type:'button','data-bs-target':'#'~id,'data-bs-slide-to':i-1,'aria-label':'Slide'~i}).addClass(loop.first?'active') }}></button>
                {% endfor %}
              </div>
              <div class="carousel-inner">
                {{ content|without('field_slider_size', 'field_slider_text_style') }}
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#{{ id }}" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#{{ id }}" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock paragraph %}
