{# 

    {{paragraph.field_ucb_issue_section_style.value}}

    0 = teaser
    1 = feature
    2 = title & thumb
    3 = title only
    #}

{% block paragraph %}
    <div{{attributes.addClass(classes)}}>
        {% if content.field_ucb_issue_section_title|render %}
            <h2 class="issue-title">{{content.field_ucb_issue_section_title}}</h2>
        {% endif %}
        <div class="issue-content">

    {% for key, item in paragraph.field_ucb_issue_article_select %}						
    {# If teaser #}
        {% if paragraph.field_ucb_issue_section_style.value is same as("0") %}
        <div class="issue-section-content">
            {% if item.entity.field_ucb_article_thumbnail.entity.field_media_image %}
                <div class="teaser-article-thumbnail" id='teaser-article-thumbnail-{{key}}'> 
                    <a href="{{ path('entity.node.canonical', {'node': item.entity.id}) }}">
                        <img src="{{ base_url }}{{ file_url(item.entity.field_ucb_article_thumbnail.entity.field_media_image.entity.fileuri | image_style('focal_image_square')) }}" 
                        alt="{{ item.entity.field_ucb_article_thumbnail.entity.field_media_image.alt }}"
                        >
                    </a>
                </div>
            {% endif %}
            <div class="issue-section-content-summary">
                <a class="issue-article-title-link" href="{{ path('entity.node.canonical', {'node': item.entity.id}) }}">
                    <h3 class="issue-section-teaser-title">{{item.entity.title.value}}</h3>
                </a>
                    {% if item.entity.field_ucb_article_thumbnail.entity.field_media_image or item.entity.field_ucb_article_summary.value%}
                        <div class="issue-article-categories">{{item.entity.field_ucb_article_categories|view}}</div>
                    {% endif %}
                <p class="issue-section-teaser-summary">{{item.entity.field_ucb_article_summary.value}}</p>
                <a class="issue-section-teaser-read" href="{{ path('entity.node.canonical', {'node': item.entity.id}) }}">Read More</a>
            </div>
        </div>
                        
    {# If feature #}
        {% elseif paragraph.field_ucb_issue_section_style.value is same as ("1") %}
            <div class="issue-section-content-feature">
                <a href="{{ path('entity.node.canonical', {'node': item.entity.id}) }}">
                    <div class="feature-article-thumbnail" id='feature-article-thumbnail-{{key}}'> {{ item.entity.field_ucb_article_thumbnail|view }} </div>
                </a>
                <div class="issue-section-content-summary">
                    <a class="issue-article-title-link" href="{{ path('entity.node.canonical', {'node': item.entity.id}) }}">
                        <h3 class="issue-section-feature-title">{{item.entity.title.value}}</h3>
                    </a>
                        {% if item.entity.field_ucb_article_thumbnail.entity.field_media_image or item.entity.field_ucb_article_summary.value%}
                            <div class="issue-article-categories">{{item.entity.field_ucb_article_categories|view}}</div>
                        {% endif %}
                    <p class="issue-section-feature-summary">{{item.entity.field_ucb_article_summary.value}}</p>
                    <a class="issue-section-feature-read" href="{{ path('entity.node.canonical', {'node': item.entity.id}) }}">Read More</a>
                </div>
            </div>

    {# title & thumbnail #}
        {% elseif paragraph.field_ucb_issue_section_style.value is same as ("2") %}
        <div class="issue-section-content">
            {% if item.entity.field_ucb_article_thumbnail.entity.field_media_image %}
            <div class="teaser-article-thumbnail" id='teaser-article-thumbnail-{{key}}'>
                <a href="{{ path('entity.node.canonical', {'node': item.entity.id}) }}">
                    <img src="{{ base_url }}{{ file_url(item.entity.field_ucb_article_thumbnail.entity.field_media_image.entity.fileuri | image_style('focal_image_square')) }}" 
                            alt="{{ item.entity.field_ucb_article_thumbnail.entity.field_media_image.alt }}"
                            >
                </a>
            </div>
            {% endif %}
            <div class="issue-section-content-summary">
                <a class="issue-article-title-link" href="{{ path('entity.node.canonical', {'node': item.entity.id}) }}">
                    {{item.entity.title.value}}
                </a>
            </div>
        </div>

    {# title only #}
        {% else %}
        <div class="issue-section-title-only">
            <a class="issue-article-title-link" href="{{ path('entity.node.canonical', {'node': item.entity.id}) }}">
                {{item.entity.title.value}}
            </a>
        </div>
        {% endif %}
    {% endfor %}

    </div>
</div>


{% endblock paragraph %}
