{% set imageStyle = 'image_style-default' %}
{% if content.field_media_image.0['#image_style']|render %}
  {% set imageStyle = 'image_style-' ~ content.field_media_image.0['#image_style']|render %}
{% endif %}

{# This condition prevents wrapping in an unnecessary <div> #}
{% if attributes != "" %}
<div{{ attributes.addClass(imageStyle)}} >
  {{ title_suffix.contextual_links }}
  {{ content }}
</div>
{% else %}
  {{ title_suffix.contextual_links }}
  {{ content }}
{% endif %}