{#
/**
* Theme layout to display a UCB Person Page.
*
* Created by jcsparks on 8/31/21
*/
#}

{{ attach_library('boulderD9_base/ucb-page') }}
{{ attach_library('boulderD9_base/ucb-person') }}

{%
set classes = [
'node',
'node--type-' ~ node.bundle|clean_class,
not node.isPublished() ? 'node--unpublished',
view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
]
%}

{#Dummy variable to ensure that all content tags are set for caching purposes#}
{% set content_render = content|render %}

<article{{attributes.addClass(classes)}}>
	<div class="container-fluid ucb-person-header">
		<div class="container">
			<h1 class="ucb-person-name">
				<span itemprop="givenName">{{ content.field_ucb_person_first_name['#items'].value|trim }}</span>
				<span itemprop="familyName">{{ content.field_ucb_person_last_name['#items'].value|trim }}</span>
			</h1>
			{% set pronouns = content.field_ucb_person_pronouns['#items'].value|trim %}{% if pronouns %}<div class="ucb-person-pronouns">(<span itemprop="pronouns">{{ pronouns }}</span>)</div>{% endif %}
		</div>
	</div>
	<div class="container ucb-person" itemscope itemtype="https://schema.org/Person">
		<div class="row ucb-person-personal">
			<div class="col ucb-person-main">
				{% if content.field_ucb_person_photo|render %}
					<div class="ucb-person-img" itemprop="image">
						{{ content.field_ucb_person_photo }}
					</div>
				{% endif %}{% set personTitle = content.field_ucb_person_title|render %}{% set personDepartment = content.field_ucb_person_department|render %}
				{% if personTitle or personDepartment %}
					<div class="ucb-person-section ucb-person-job">
						{% if personTitle %}<div>{{ personTitle }}</div>{% endif %}
						{% if personDepartment %}<div>{{ personDepartment }}</div>{% endif %}
					</div>
				{% endif %}{% set personEmail = content.field_ucb_person_email['#items'].value|trim %}{% set personPhone = content.field_ucb_person_phone['#items'].value|trim %}
				{% if personEmail or personPhone %}
					<div class="ucb-person-section ucb-person-contact">
						{% if personEmail %}<div itemprop="email">{{ personEmail }}</div>{% endif %}
						{% if personPhone %}<div itemprop="telephone">{{ personPhone }}</div>{% endif %}
					</div>
				{% endif %}{% set personLinks = content.field_ucb_person_links|render %}
				{% if personLinks %}
					<div class="ucb-person-section ucb-person-links">
						{{ personLinks }}
					</div>
				{% endif %}{% set personAddress = content.field_ucb_person_address|render %}
				{% if personAddress %}
					<div class="ucb-person-section ucb-person-address" itemprop="address">
						<span class="ucb-person-section-header" id="headerAddress">Address</span>
						{{ personAddress }}
					</div>
				{% endif %}{% set personOfficeHours = content.field_ucb_person_office_hours|render %}
				{% if personOfficeHours %}
					<div class="ucb-person-section ucb-person-office-hours" aria-labelledby="headerOfficeHours">
						<span class="ucb-person-section-header" id="headerOfficeHours">Office Hours</span>
						{{ personOfficeHours }}
					</div>
				{% endif %}{% set body = content.body|render %}
				{% if body %}
					<div class="ucb-person-section ucb-person-body">
						{{ body }}
					</div>
				{% endif %}
			</div>
		</div>
	</div>
</article>
