{{ attach_library('boulder_base/ucb-issue-archive') }}

{% set classes = [
  'node',
  'container',
  'node--type-' ~ node.bundle|clean_class,
  node.isPromoted() ? 'node--promoted',
  node.isSticky() ? 'node--sticky',
  not node.isPublished() ? 'node--unpublished',
  view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  'ucb-content-wrapper'
] %}
  {# Base Url #}
  {% set baseurlJSON = url('<front>')|render|trim('/') %}<div{{ attributes.addClass(classes) }}>

  <div class="ucb-issue-archive-title">
    <h1{{ title_attributes.addClass(is_front ? 'visually-hidden') }}>
      {{ label }}
    </h1>
  </div>
  {% if content.body|render %}
  <div class="ucb-issue-archive-section ucb-issue-archive-body">
    {{ content.body }}
  </div>
  {% endif %}
  <ucb-issue-archive
  base-uri="{{baseurlJSON}}"
  >
    <div id="ucb-al-loading" class="ucb-list-msg ucb-loading-data">
      <i class="fa-solid fa-spinner fa-3x fa-spin-pulse"></i>
    </div>
  </ucb-issue-archive>
</div>
