{{ attach_library('boulder_base/ucb-faq-page') }}

{% set classes = [
    'node',
    'container',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    'ucb-content-wrapper'
  ] %}
  <html itemscope itemtype="https://schema.org/FAQPage">

  <div{{ attributes.addClass(classes) }}>
    <div class="ucb-faq-title">
      <h1{{ title_attributes.addClass(is_front ? 'visually-hidden') }}>
        {{ label }}
      </h1>
    </div>
    {% if content.body|render %}
    <div class="ucb-faq-page-section ucb-faq-page-body">
      {{ content.body }}
    </div>
    {% endif %}
    <div class="ucb-newsletter-section-content">
      {# Individual FAQ sections -- paragraph--ucb-faq-section.html.twig #}
        {% if content.field_ucb_faq_page_section|render %}
          <div class="ucb-faq-page-section-body">
            {{ content.field_ucb_faq_page_section|render }}
          </div>
        {% endif %}
      </div>
  </div>