{#
/**
 * Theme layout to display a Form Page.
 *
 */
#}

{{ attach_library('boulder_base/ucb-form-page') }}

{% set sidebar_position = drupal_config('boulder_base.settings', 'ucb_sidebar_position') %}

<article{{attributes.addClass(classes)}}>
	<div class="container">
		<h1{{title_attributes}}>
			{{ label }}
		</h1>
	</div>

	<div class="container mb-4">
		<div class="row">
			<div class="col-sm-8">
				{{ content['#block_content'].body }}
				<div class="form-page-webform">
					{{ content.field_form_page_webform }}
				</div>
			</div>
		</div>
	</div>
</article>
