{#
/**
* Theme layout to display a UCB Newsletter Page in Email HTML.
*
* Notes: You must render Node data within a properly nested <td> element: <table>, <tbody>, <tr>, <td>, THEN your data within the <td> for Twig to nest it properly.
* Otherwise your data will break out of the table and instead become a sibling element to the outer table element
* See: https://www.w3schools.com/html/html_tables.asp
*/
#}

{%
    set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    ]
%}
{{ attach_library('boulderD9_base/ucb-page') }}

{{ attach_library('boulderD9_base/ucb-newsletter') }}

<div class="container" id="email-preview" style="background-color: grey">
    <html>
        <head>
            <style>
                .tags > a{
                    color: #656565 !important;
                    text-decoration: none;
                    background-color: #e7e7e7 !important;
                    border-color: #e7e7e7;
                    border-style: solid;
                    border-width: 4px;
                    font-size: 10px;
                    font-weight: bold;
                    margin: 0 5px 5px 0;
                    text-transform: uppercase !important;
                };
                
                .tags{
                    padding-bottom: 10px;
                };

                a.button.button-full,a.button.button-block,.button.button-full,.button.button-block,a.button-ghost.button-full,a.button-ghost.button-block,.button-ghost.button-full,.button-ghost.button-block {
    display: block;
    text-align: center;
};

.button.button-blue,.buttons-color-blue a,.buttons-color-blue a.button {
    background-color: #0277BD;
    color: #fff !important;
    display: inline-block;
    padding: 5px 10px;
    font-weight: bold;
    transition: background-color 0.5s ease;
    margin-bottom: 5px;
    text-decoration: none !important;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    transition: -webkit-box-shadow 0.5s ease,background-color 0.5s ease,color 0.5s ease;
    transition: -moz-box-shadow 0.5s ease,background-color 0.5s ease,color 0.5s ease;
    transition: box-shadow 0.5s ease,background-color 0.5s ease,color 0.5s ease;
    background-color: #0277BD;
    color: #fff !important;
};

.button.button-blue:hover,.button.button-blue:focus,.buttons-color-blue a:hover,.buttons-color-blue a:focus,.buttons-color-blue a.button:hover,.buttons-color-blue a.button:focus {
    background-color: #026dae;
    background-color: #026baa;
    -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
};

.button.button-blue:active,.buttons-color-blue a:active,.buttons-color-blue a.button:active {
    -webkit-box-shadow: 0 3px 15px rgba(0,0,0,0.35);
    -moz-box-shadow: 0 3px 15px rgba(0,0,0,0.35);
    box-shadow: 0 3px 15px rgba(0,0,0,0.35);
};
a:link,a:visited {
    color: #0277BD;
    transition: background-color 0.25s ease,border-color 0.25s ease,color 0.25s ease;
    text-decoration: none;
    text-decoration-color: rgba(2,119,189,0.65);
    -webkit-text-decoration-color: rgba(2,119,189,0.65);
}

a:hover {
    color: #B71C1C;
    text-decoration-color: rgba(183,28,28,0.65);
    -webkit-text-decoration-color: rgba(183,28,28,0.65);
}

a:active {
    color: #B71C1C;
    text-decoration-color: rgba(183,28,28,0.65);
    -webkit-text-decoration-color: rgba(183,28,28,0.65);
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
    line-height: 1.3;
    margin: 0 0 10px 0;
    font-family:Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-decoration: none;
}

*{
   font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

td>h3>a{
    text-decoration: none;
    color: #0277BD;
}

            </style>
        </head>

        {% set base_url = url('<front>')|render|split('/', -1)|join('/') %}

    <div id="email" style="width:600px;margin: auto;background:white;">
        <table role="presentation" border="0" width="100%" cellspacing="0" style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%; color: #222222; font-family: Helvetica, Arial, sans-serif; padding-bottom:20px;font-weight: normal; line-height: 19px; margin: 0; font-size: 14px; background-color: white;">
            <!-- Header --> 
            {# TO DO: Header #}
            <tr>
                <h1 id="newsletter-email-title" style="padding: 30px 30px 15px 60px;font-size: 52px; margin:0 0 20px 0; font-family:Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;"> {{ label }}</h1>
              <td align="center" style="text-align: left; padding-right:10px; padding-left:10px">
            <!-- Intro Img --> 
                {% if content.field_newsletter_intro_image|render %}
                <img id="newsletter-email-intro-img" src="{{base_url}}{{file_url(node.field_newsletter_intro_image.entity.field_media_image.entity.fileuri)}}" width="100%" style="margin-bottom: 20px;">
                {% endif %}
            <!-- Intro Text-->
                {% if content.field_newsletter_intro_body|render %}
                <div id="newsletter-intro-body">{{ content.field_newsletter_intro_body }}</div>
                {% endif %}
                </td>
            </tr>
        </table>
        <!--Second table-->
        {% if content.field_newsletter_section_block|render %}
        <!--Newsletter Section-->
        {{content.field_newsletter_section_block|render}}
            {% endif %}
        <!--Ad One-->
			{% if content.field_newsletter_promo_image_one|render %}
				{% if content.field_newsletter_promo_link_one|render %}
                <table role="presentation"  border="0" width="100%" cellspacing="0" style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%; color: #222222; font-family: Helvetica, Arial, sans-serif; font-weight: normal; line-height: 19px; margin: 0; font-size: 14px; background-color: white;">
                    <tbody>
                        <tr>
                            <td align="center" style="text-align: left; padding-right:10px; padding-left:10px;padding-bottom:20px">
                                <a href="{{base_url}}{{ content.field_newsletter_promo_link_one|render|striptags|trim }}">
                                    <img width="100%" src="{{base_url}}{{file_url(node.field_newsletter_promo_image_one.entity.field_media_image.entity.fileuri|image_style('focal_image_square'))}}"/>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
				{% else %}
                <table role="presentation">
                    <tbody>
                        <tr>
                            <td align="center"style="text-align: left; padding-right:10px; padding-left:10px; padding-bottom:20px">
                                <img width="100%"src="{{base_url}}{{file_url(node.field_newsletter_promo_image_one.entity.field_media_image.entity.fileuri|image_style('focal_image_square'))}}"/>
                            </td>
                        </tr>
                    </tbody>
                </table>
				{% endif %}
			{% endif %}
        <!--Promo Blocks-->
        <table role="presentation"  border="0" width="100%" cellspacing="0" style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%; color: #222222; font-family: Helvetica, Arial, sans-serif; font-weight: normal; line-height: 19px; margin: 0; font-size: 14px; background-color: white">
			<tbody>
                <tr>
                    <td align="center" style="text-align: left; padding-right:10px; padding-left:10px">
                        <!--Promo Block 1-->
                        <table role="presentation">
                            <tbody>
                        {% if content.field_newsletter_block_title_one|render %}
                                <tr>
                                    <td style="text-align: left; padding-right:10px; padding-left:10px">
                                        <h3>{{ content.field_newsletter_block_title_one|render }}</h3>
                                    </td>
                                </tr>
                        {% endif %}

                        {% if content.field_newsletter_block_text_one|render %}
                            <tr style="text-align: left; padding-right:10px; padding-left:10px"> 
                                <td align="center" style="text-align: left; padding-right:10px; padding-left:10px">{{ content.field_newsletter_block_text_one|render }}</td>
                            </tr>
                        {% endif %}
                            </tbody>
                        </table>
                    </td>
                    <td align="center" style="text-align: left; padding-right:10px; padding-left:10px">
                     <!--Promo Block 2-->
                        <table role="presentation">
                            <tbody>
                    {% if content.field_newsletter_block_title_two|render %}
                                <tr>
                                    <td style="text-align: left; padding-right:10px; padding-left:10px"> 
                                        <h3>{{ content.field_newsletter_block_title_two|render }}</h3>
                                    </td>
                                </tr>
                    {% endif %}
                    {% if content.field_newsletter_block_text_two|render %}
                    <tr>
                        <td style="text-align: left; padding-right:10px; padding-left:10px">    {{ content.field_newsletter_block_text_two|render }}</td>
                    
                    </tr>
                    {% endif %}
                            </tbody>
                            </table>
                            </td>
                </tr>
            </tbody>
        </table>
        <!--Ad Two-->
        {% if content.field_newsletter_promo_image_two|render %}
        {% if content.field_newsletter_promo_link_two|render %}
        <table role="presentation"  border="0" width="100%" cellspacing="0" style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; height: 100%; width: 100%; color: #222222; font-family: Helvetica, Arial, sans-serif; font-weight: normal; line-height: 19px; margin: 0; font-size: 14px; background-color: white;">
            <tbody>
                <tr>
                    <td width="500px" style="text-align: left; padding-right:10px; padding-left:10px;padding-bottom:20px"> 
                        <a href="{{base_url}}{{ content.field_newsletter_promo_link_two|render|striptags|trim }}">
                            <img width="100%" src="{{base_url}}{{file_url(node.field_newsletter_promo_image_two.entity.field_media_image.entity.fileuri|image_style('focal_image_square'))}}"/>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        {% else %}
        <table role="presentation" border="0" width="100%" cellspacing="0" style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; height: 100%; width: 100%; color: #222222; font-family: Helvetica, Arial, sans-serif; font-weight: normal; line-height: 19px; margin: 0; font-size: 14px; background-color: white;">
            <tbody>
                <tr>
                    <td style="text-align: left; padding-right:10px; padding-left:10px;padding-bottom:20px"> 
                        <img src="{{base_url}}{{file_url(node.field_newsletter_promo_image_two.entity.field_media_image.entity.fileuri|image_style('focal_image_square'))}}"/>
                    </td>
                </tr>
            </tbody>
        </table>	
        {% endif %}
    {% endif %}
        <!--Footer-->
        {# TO DO: Footer #}
    </div>
    </html>
</div>
