{#
/**
 * Theme layout to display a People List Page.
 *
 * TODO:
 *  - Image styles (try : https://www.drupal.org/project/consumer_image_styles )
 *  - Display filters on rendered page
 */
#}

{{ attach_library('boulder_base/ucb-people-list-page') }}

{# Logged In - Used for showing errors to only authenticated #}
{% set logged_in_class = logged_in ? 'ucb-authenticated' : 'ucb-anonymous' %}

{% set classes = [
  'node',
  'container',
  'node--type-' ~ node.bundle|clean_class,
  node.isPromoted() ? 'node--promoted',
  node.isSticky() ? 'node--sticky',
  not node.isPublished() ? 'node--unpublished',
  view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  'ucb-content-wrapper'
 ] %}
 {% set config = {
  taxonomies : {
    department: 'department',
    job_type: 'ucb_person_job_type',
    filter_1: 'filter_1',
    filter_2: 'filter_2',
    filter_3: 'filter_3'
  },
  filters: {
    department: {
      includes: content.field_ucb_people_department|render|striptags|trim|split(' '),
      userAccessible: content.field_ucb_people_department_s|render|striptags|trim == 'On',
      label: people_list_department_label,
      restrict: true
    },
    job_type: {
      includes: content.field_ucb_people_job_type|render|striptags|trim|split(' '),
      userAccessible: content.field_ucb_people_job_type_s|render|striptags|trim == 'On',
      label: people_list_job_type_label,
      restrict: true
    },
    filter_1: {
      includes: content.field_ucb_people_filter_1|render|striptags|trim|split(' '),
      userAccessible: content.field_ucb_people_filter_1_s|render|striptags|trim == 'On',
      label: people_list_filter_1_label,
      restrict: true
    },
    filter_2: {
      includes: content.field_ucb_people_filter_2|render|striptags|trim|split(' '),
      userAccessible: content.field_ucb_people_filter_2_s|render|striptags|trim == 'On',
      label: people_list_filter_2_label,
      restrict: true
    },
    filter_3: {
      includes: content.field_ucb_people_filter_3|render|striptags|trim|split(' '),
      userAccessible: content.field_ucb_people_filter_3_s|render|striptags|trim == 'On',
      label: people_list_filter_3_label,
      restrict: true
    }
  },
  format: content.field_ucb_people_display|render|striptags|trim,
  groupby: content.field_ucb_people_group_by|render|striptags|trim,
  orderby: content.field_ucb_people_order_by|render|striptags|trim
} %}
<article{{ attributes.addClass(classes) }}>
  <div class="ucb-people-list-title">
    <h1{{ title_attributes.addClass(is_front ? 'visually-hidden') }}>
      {{ label }}
    </h1>
  </div>
  {% if content.body|render %}
  <div class="ucb-person-section ucb-person-body">
    {{ content.body }}
  </div>
  {% endif %}
  <ucb-people-list{{ create_attribute({
    'class' : logged_in_class,
    'site-base': url('<front>')|render|trim('/'),
    'base-uri': url('<front>')|render|trim('/') ~ '/jsonapi',
    config: config|json_encode,
    'user-config': '{}' }) }}>
    <noscript><div class="ucb-list-msg ucb-error">Please enable JavaScript to see this page.</div></noscript>
  </ucb-people-list>
</article>
