{{ attach_library('boulder_base/ucb-issue-archive') }}

{%
	set classes = [
		'node',
		'container',
		'node--type-' ~ node.bundle|clean_class,
		node.isPromoted() ? 'node--promoted',
		node.isSticky() ? 'node--sticky',
		not node.isPublished() ? 'node--unpublished',
		view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
	]
%}

<div id="ucb-issue-archive"{{attributes.addClass(classes)}}>
	<div class="ucb-issue-archive-title">
		<h1{{title_attributes}}>
			{{ label }}
		</h1>
	</div>
	{% if content.body|render %}
	<div class="ucb-issue-archive-section ucb-issue-archive-body">
		{{ content.body }}
	</div>
	{% endif %}
	<ucb-issue-archive></ucb-issue-archive>
</div>
