{%
    set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    ]
%}


{# Site base URL for absolute links #}
{% set base_url = url('<front>')|render|split('/', -1)|join('/') %}

{# Full front URL so we can extract protocol + domain for absolute media URLs. #}
{% set full_base_url = url('<front>')|render %}
{% set url_parts = full_base_url|split('/') %}
{% set protocol = url_parts[0] %}
{% set domain = url_parts[2] %}
{% set base_domain = protocol ~ '//' ~ domain %}

{# Design type = won't use #}
{% set designType = node.field_newsletter_type.entity.field_newsletter_design.value %}

{# Dark / Light Mode logo #}
{% set cuLogoDark = base_url ~ '/' ~ base_path ~ directory ~ '/images/cu-boulder-logo-text-black.gif' %}
{% set cuLogoLight = base_url ~ '/' ~ base_path ~ directory ~ '/images/cu-boulder-logo-text-white.gif' %}

{% if designType == 'minimal' or designType == 'lightbox' %}
  {% set cuLogoSrc = cuLogoDark %}
{% else %}
  {% set cuLogoSrc = cuLogoLight %}
{% endif %}

{# Capture the MJML body markup so it can be handed to the render endpoint as
   raw text instead of being parsed (and mangled) by the browser as DOM. #}
{% set mjml_body %}

{# Preheader / newsletter summary text #}
{% if node.field_newsletter_summary.value %}
  {{ node.field_newsletter_summary.value }}
{% endif %}


{# CU Boulder logo image. #}
<img src="{{ cuLogoSrc }}" alt="CU Boulder">

{# Newsletter name image from Newsletter Type taxonomy term, if available #}
{% if node.field_newsletter_type.entity.field_newsletter_name_image.entity.uri.value %}
  <img
    src="{{ base_domain }}{{ file_url(node.field_newsletter_type.entity.field_newsletter_name_image.entity.uri.value) }}"
    alt="{{ node.field_newsletter_type.entity.label }}"
  >
{% else %}
  {# Injects newsletter type label as fallback when no newsletter name image exists. #}
  {{ node.field_newsletter_type.entity.label }}
{% endif %}


{# Newsletter created date. #}
{{ node.created.value|date("M. j, Y") }}


{# Absolute canonical node URL for "View on website" #}
<a href="{{ base_url }}{{ path('entity.node.canonical', {'node': node.id}) }}">
  View on website
</a>


{# Intro image, if present. #}
{% if content.field_newsletter_intro_image|render %}
  <img
    src="{{ base_domain }}{{ file_url(node.field_newsletter_intro_image.entity.field_media_image.entity.fileuri) }}"
    alt="{{ node.field_newsletter_intro_image.entity.field_media_image.alt|render }}"
  >
{% endif %}


{# Intro body, converting root-relative links to absolute links #}
{% if content.field_newsletter_intro_body|render %}
  {% set intro_body = content.field_newsletter_intro_body|render %}
  {% set updated_intro_body = intro_body|replace({'href="/': 'href="' ~ base_domain ~ '/'}) %}
  {{ updated_intro_body|raw }}
{% endif %}


{# Rendered newsletter section block field #}
{% if content.field_newsletter_section_block|render %}
  {{ content.field_newsletter_section_block|render }}
{% endif %}


{# Promo image one, optionally wrapped in promo link one. #}
{% if content.field_newsletter_promo_image_one|render %}

  {% if content.field_newsletter_promo_link_one|render %}

    {# Promo link one and normalizes internal links to absolute URLs #}
    {% set link_url_one = content.field_newsletter_promo_link_one|render|striptags|trim %}

    {% if link_url_one starts with 'http' or link_url_one starts with 'www' %}
      {% set final_url_one = link_url_one %}
    {% else %}
      {% set final_url_one = base_url ~ link_url_one %}
    {% endif %}

    <a href="{{ final_url_one }}">
      <img
        src="{{ base_domain }}{{ file_url(node.field_newsletter_promo_image_one.entity.field_media_image.entity.fileuri|image_style('focal_image_square')) }}"
        alt="{{ node.field_newsletter_promo_image_one.entity.field_media_image.alt|render }}"
      >
    </a>

  {% else %}

    {# Promo image one without a link. #}
    <img
      src="{{ base_domain }}{{ file_url(node.field_newsletter_promo_image_one.entity.field_media_image.entity.fileuri|image_style('focal_image_square')) }}"
      alt="{{ node.field_newsletter_promo_image_one.entity.field_media_image.alt|render }}"
    >

  {% endif %}

{% endif %}


{# Builds a filtered list of content blocks that actually have title or text. #}
{% set blocksToRender = [] %}

{% for key, block in content.field_newsletter_content_blocks %}
  {% if key|first != '#' %}
    {% set paragraphItem = block['#paragraph'] %}
    {% set title = paragraphItem.field_newsletter_block_title.value|default('') %}
    {% set text = paragraphItem.field_newsletter_block_text.value|default('') %}

    {% if title|trim is not empty or text|trim is not empty %}
      {% set blocksToRender = blocksToRender|merge([block]) %}
    {% endif %}
  {% endif %}
{% endfor %}

{# Injects filtered newsletter content blocks. #}
{% if blocksToRender %}
  {% for block in blocksToRender %}
    {{ block }}
  {% endfor %}
{% endif %}


{# Promo image two, optionally wrapped in promo link two #}
{% if content.field_newsletter_promo_image_two|render %}

  {% if content.field_newsletter_promo_link_two|render %}

    {# Promo link two and normalizes internal links to absolute URLs #}
    {% set link_url_two = content.field_newsletter_promo_link_two|render|striptags|trim %}

    {% if link_url_two starts with 'http://' or link_url_two starts with 'https://' %}
      {% set final_url_two = link_url_two %}
    {% else %}
      {% set final_url_two = base_url ~ link_url_two %}
    {% endif %}

    <a href="{{ final_url_two }}">
      <img
        src="{{ base_domain }}{{ file_url(node.field_newsletter_promo_image_two.entity.field_media_image.entity.fileuri|image_style('focal_image_square')) }}"
        alt="{{ node.field_newsletter_promo_image_two.entity.field_media_image.alt|render }}"
      >
    </a>

  {% else %}

    {# Promo image two without a link #}
    <img
      src="{{ base_domain }}{{ file_url(node.field_newsletter_promo_image_two.entity.field_media_image.entity.fileuri|image_style('focal_image_square')) }}"
      alt="{{ node.field_newsletter_promo_image_two.entity.field_media_image.alt|render }}"
    >

  {% endif %}

{% endif %}


{# Footer content from Newsletter Type taxonomy term #}
{% if node.field_newsletter_type.entity.field_newsletter_footer.value %}

  {# Injects site homepage link. #}
  <a href="{{ url('<front>', {}, {'absolute': true}) }}">
    {{ site_name }}
  </a>

  {# Injects processed newsletter footer body. #}
  {{ node.field_newsletter_type.entity.field_newsletter_footer.0.processed|raw }}

{% endif %}

{# Social links from Newsletter Type taxonomy term #}
{% if node.field_newsletter_type.entity.field_newsletter_social_link is defined and node.field_newsletter_type.entity.field_newsletter_social_link is not empty %}
  {% set mjmlIconNames = {
    'facebook': 'facebook-noshare',
    'instagram': 'instagram',
    'linkedin': 'linkedin-noshare',
    'youtube': 'youtube',
    'pinterest': 'pinterest-noshare',
    'vimeo': 'vimeo',
    'twitter': 'twitter-noshare',
    'x': 'twitter-noshare'
  } %}

  <mj-section>
    <mj-column>
      <mj-social mode="horizontal" icon-size="20px" font-size="0px" padding="0px">

        {% for link in node.field_newsletter_type.entity.field_newsletter_social_link %}

          {# Injects the social link URL. #}
          {% set uri = link.url.toString() %}

          {# Extracts hostname from absolute social URL #}
          {% set hostname = '' %}
          {% if uri matches '/^(http(s)?:)?\\/\\//i' %}
            {% set hostname = uri|split('/')[2] %}
          {% endif %}

          {# Resolves the MJML built-in icon name from the hostname. #}
          {% set iconName = 'web' %}

          {% if hostname matches '/facebook\\.com$/i' %}
            {% set iconName = mjmlIconNames['facebook'] %}
          {% elseif hostname matches '/instagram\\.com$/i' %}
            {% set iconName = mjmlIconNames['instagram'] %}
          {% elseif hostname matches '/linkedin\\.com$/i' %}
            {% set iconName = mjmlIconNames['linkedin'] %}
          {% elseif hostname matches '/youtube\\.com$/i' %}
            {% set iconName = mjmlIconNames['youtube'] %}
          {% elseif hostname matches '/(pinterest\\.com|pin\\.it)$/i' %}
            {% set iconName = mjmlIconNames['pinterest'] %}
          {% elseif hostname matches '/vimeo\\.com$/i' %}
            {% set iconName = mjmlIconNames['vimeo'] %}
          {% elseif hostname matches '/(twitter\\.com|x\\.com)$/i' %}
            {% set iconName = mjmlIconNames['x'] %}
          {% endif %}

          {# Uses MJML's built-in icon set via name; href points at the profile. #}
          <mj-social-element
            name="{{ iconName }}"
            href="{{ uri }}"
          ></mj-social-element>

        {% endfor %}

      </mj-social>
    </mj-column>
  </mj-section>

{% endif %}
{% endset %}

{# Newsletter MJML email preview.

   The web component reads the MJML source from the <script type="text/mjml">
   below, POSTs it to the server-side MJML render  (provided by
   ucb_site_configuration) module, and shows the compiled email HTML in a preview
   iframe #}
{{ attach_library('boulder_base/ucb-newsletter-mjml-preview') }}

<newsletter-mjml-preview class="ucb-mjml-preview" data-endpoint="{{ path('ucb_site_configuration.newsletter_mjml_render') }}">
  <script type="text/mjml">
<mjml>
  <mj-body>
    {{ mjml_body }}
  </mj-body>
</mjml>
  </script>
</newsletter-mjml-preview>
