{#
/**
* Theme layout to display a UCB Article Page.
*
* Created by jcsparks on 9/23/21
*/
#}

{{ attach_library('boulder_base/ucb-article') }}
{{ attach_library('boulder_base/ucb-related-articles') }}
{# Added class to article class 'pageStyleCSS' to control page style #}

{# Base Url #}
{% set baseURL = url('<front>')|render|trim('/') %}

{% set exclude_categories = related_articles_exclude_categories %}
{% set exclude_tags = related_articles_exclude_tags %}

{# DATE FORMATTER - use global setting for all, unless override in article provided #}
{% set global_date_format = article_date_format %}
{% set showDate = true %}
{% set localDateOverride = content.field_ucb_article_date_override|render|striptags|trim %}

{# Local Date/Time Overrides, else use Global Settings #}
  {% if localDateOverride != 0 %}
  {% if localDateOverride == 1 %}
  {% set date_formatted = node.created.value|date("n/j/Y") %}
  {% elseif localDateOverride == 2 %}
  {% set date_formatted = node.created.value|date("M. j, Y") %}
  {% elseif localDateOverride == 3 %}
  {% set date_formatted = node.created.value|date("l, M. j, Y") %}
  {% elseif localDateOverride == 4 %}
  {% set date_formatted = node.created.value|date("m/j/y  - g:i a", "America/Denver") %}
  {% elseif localDateOverride == 5 %}
  {% set date_formatted = node.created.value|date("M. d, Y  - g:i a", "America/Denver") %}
  {% elseif localDateOverride == 6 %}
  {% set date_formatted = node.created.value|date("l, M. j, Y  - g:i a", "America/Denver") %}
  {% elseif localDateOverride == 7 %}
  {% set date_formatted = "hidden" %}
  {% set showDate = false %}
  {% else %}
  {% set date_formatted = node.created.value|date('F d, Y') %}
  {% endif %}
{% else %}
  {# Global Settings #}
  {# short date #}
  {% if global_date_format == "0" %}
  {% set date_formatted = node.created.value|date("n/j/Y") %}
  {# medium date #}
  {% elseif global_date_format == "1"%}
  {% set date_formatted = node.created.value|date("M. j, Y") %}
  {# long date #}
  {% elseif global_date_format == "2"%}
  {% set date_formatted = node.created.value|date("l, M. j, Y") %}
  {# short date w time #}
  {% elseif global_date_format == "3" %}
  {% set date_formatted = node.created.value|date("m/j/y  - g:i a", "America/Denver") %}
  {# medium date w time #}
  {% elseif global_date_format == "4" %}
  {% set date_formatted = node.created.value|date("M. d, Y  - g:i a", "America/Denver") %}
  {# long date with time #}
  {% elseif global_date_format == "5" %}
  {% set date_formatted = node.created.value|date("l, M. j, Y  - g:i a", "America/Denver") %}
  {# none - hide #}
  {% elseif global_date_format == "6" %}
  {% set date_formatted = "hidden" %}
  {% set showDate = false %}
  {% else %}
  {% set date_formatted = node.created.value|date('F d, Y') %}
  {% endif %}
{% endif %}


{% set pageStyleInt = content.field_ucb_article_style|render|striptags|trim %}
{% set pageStyleCSS = "" %}
{% if pageStyleInt == "Traditional"%}
  {% set pageStyleCSS = "ucb-page-style-traditional" %}
{% elseif pageStyleInt =="Dark Mode"%}
  {% set pageStyleCSS = "ucb-page-style-dark" %}
  {{ attach_library('boulder_base/ucb-article-dark') }}
{% elseif pageStyleInt =="Zebra Striped"%}
  {% set pageStyleCSS = "ucb-page-style-striped" %}
{% endif %}


{% set classes = [
  'node',
  'node--type-' ~ node.bundle|clean_class,
  not node.isPublished() ? 'node--unpublished',
  view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  pageStyleCSS,
  'ucb-content-wrapper'
] %}

{# Show Related - will flag "Off" or "Related Articles", controls visibility of the block #}
{% set showRelated %}
{{ content.field_ucb_related_articles_parag.0 }}
{% endset %}

{# Extract category and tag IDs as arrays and convert to a string format like "[1, 2, 3, 4]" #}
{# Ensure the fields are not null before applying map and join #}

{% set category_ids = content.field_ucb_article_categories['#items'] is defined and content.field_ucb_article_categories['#items'] is not empty
    ? '[' ~ content.field_ucb_article_categories['#items']|map(item => item.entity.id)|join(', ') ~ ']'
    : '[]' %}

{% set tag_ids = content.field_ucb_article_tags['#items'] is defined and content.field_ucb_article_tags['#items'] is not empty
    ? '[' ~ content.field_ucb_article_tags['#items']|map(item => item.entity.id)|join(', ') ~ ']'
    : '[]' %}

{#Dummy variable to ensure that all content tags are set for caching purposes#}
{% set content_render = content|render %}

{# Sets overlay class for header img #}
{% set textColor = content.field_article_header_text_color|render|striptags|trim %}
{% set overlayClass = ''%}

{% if content.field_ucb_article_header_overlay|render|striptags|trim == 'On' %}
  {% if textColor is same as 'White' %}
  {# overlay requested set to dark #}
  {% set overlayClass = 'ucb-overlay-dark' %}
  {% else %}
  {# dark text, so switch to the light overlay instead #}
  {% set overlayClass = 'ucb-overlay-light' %}
  {% endif %}
{% endif %}

{% if not content.field_ucb_article_external_url|render %}
  <article{{ attributes.addClass(classes, content.field_article_title_background.0 ? 'mt-0') }}>
    <div class="ucb-article" itemscope itemtype="https://schema.org/Article">
      {# If using a Title Background img, render that #}
      {% if content.field_article_title_background.0 %}
      {% set titleBackground = node.field_article_title_background|file_uri|image_style('section_background') %}
        <header><h1 class="visually-hidden">{{ label }}</h1></header>
        <div style="background-image: url('{{ titleBackground }}'); background-position: {{ position_vars }};" class="backgroundTitleDiv {{ overlayClass }}">
          <div{{ title_attributes.addClass('ucb-article-heading', 'article-header-' ~ textColor, is_front ? 'visually-hidden') }}>
            <div class="container">
              <h1>{{ label }}</h1>
            </div>
          </div>
        </div>
      {% endif %}
      <div class="container">
        {# If NO Title Background img, render the regular title #}
        {% if not content.field_article_title_background.0 %}
          <h1{{ title_attributes.addClass('ucb-article-heading', is_front ? 'visually-hidden') }}>
            {{ label }}
          </h1>
        {% endif %}
        {% if content.field_article_header_image_text %}
          <p class="ucb-article-supplemental-text">
            {{ content.field_article_header_image_text.0['#context'].value }}
          </p>
        {% endif %}
        <div role="contentinfo" class="ucb-article-meta">
          {% if showDate %}
            <div class="ucb-article-date">
              <i class="fa-regular fa-calendar"></i>
              <span class="visually-hidden">Published:{{ date_formatted }}</span>
              <span itemprop="datePublished">
                {{ date_formatted }}
              </span>
            </div>
          {% endif %}
          {% if content.field_ucb_article_byline|render %}
            <div class="ucb-article-byline">
              {% if showDate %}&bull; {% endif %}By
              <span class="ucb-article-author-name" itemprop="author">
                {{ content.field_ucb_article_byline }}
              </span>
            </div>
          {% endif %}
        </div>
      </div>
      {% if content.field_ucb_article_content|render %}
        <div role="main" class="ucb-article-body">{{ content.field_ucb_article_content }}</div>
      {% endif %}
      {{ content.field_ucb_article_categories }}
      {{ content.field_ucb_article_tags }}
      {% if content.field_appears_in_issue|render %}
        <div role="contentinfo" class="container ucb-article-issue" itemprop="keywords">
          <div class="ucb-article-issue-icon" aria-hidden="true">
            <span class="visually-hidden">Issues:</span>
            <i class="fa-solid fa-book"></i>
          </div>
          {{ content.field_appears_in_issue }}
        </div>
      {% endif %}
{% if showRelated|striptags|trim != 'Off' %}
<div class="container">
  {# Related Articles Block #}
  <related-articles #}
    {{ create_attribute({
      class: ['container', 'ucb-related-articles-block'],
      'baseurl': baseURL,
      'loggedin': logged_in ? 'true' : 'false',
      'related-shown': showRelated|striptags|trim,
      'categories': category_ids,
      'tags': tag_ids,
      'category-exclude': exclude_categories|json_encode(),
      'tag-exclude': exclude_tags|json_encode(),
    }) }}>
    {{ content.field_ucb_related_articles_parag }}
  </related-articles>
</div>
{% endif %}
  </div>
  </article>
{% else %}
  <article{{attributes.addClass(classes)}}>
    <div class="container ucb-article">
      <h1 class="ucb-article-heading">{{ label }}</h1>
      {% set externalURL = content.field_ucb_article_external_url[0]['#url']|render|striptags|trim %}
      <p class="fw-bold">Redirecting to:
        <a href="{{ externalURL }}">{{ externalURL }}</a>
      </p>
      {% if user_can_edit %}
        <p>(Most visitors without editing permissions will be redirected from this page automatically)</p>
      {% else %}
        {# redirect non-authenticated users to the specified URL #}
        {{ content.field_ucb_article_external_url }}
      {% endif %}
    </div>
  </article>
{% endif %}
