{#
/**
* Theme layout to display a UCB Person Page.
*
* Created by jcsparks on 8/31/21
*/
#}

{{ attach_library('boulderD9_base/ucb-page') }}
{{ attach_library('boulderD9_base/ucb-person') }}

{%
set classes = [
'node',
'node--type-' ~ node.bundle|clean_class,
not node.isPublished() ? 'node--unpublished',
view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
]
%}

{#Dummy variable to ensure that all content tags are set for caching purposes#}
{% set content_render = content|render %}

<article{{attributes.addClass(classes)}}>
	<div class="container-fluid ucb-person-name">
		<div class="container">
			<h1 class="ucb-person-name ">
				<span itemprop="givenName">{{ content.field_ucb_person_first_name }}</span>
				<span itemprop="familyName">{{ content.field_ucb_person_last_name }}</span>
			</h1>
		</div>
	</div>
	<div class="container ucb-person" itemscope itemtype="https://schema.org/Person">
		<div class="row ucb-person-personal">
			<div class="col ucb-person-main">
				{% if content.field_ucb_person_photo|render %}
					<div itemprop="image">
						{{ content.field_ucb_person_photo }}
					</div>
				{% endif %}
				{% if content.field_ucb_person_title|render or content.field_ucb_person_department|render %}
					<div class="ucb-person-section ucb-person-job">
						{% if content.field_ucb_person_title|render %}
							<span class="d-block" itemprop="jobTitle">
								{% for key, item in content.field_ucb_person_title if key|first != '#' %}
									{% if loop.first == false %}
										&bull;
									{% endif %}
									{{ item|render|striptags|trim}}
								{% endfor %}
							</span>
						{% endif %}
						{% if content.field_ucb_person_department|render %}
							<span class="d-block">
								{% for key, item in content.field_ucb_person_department if key|first != '#' %}
									{% if loop.first == false %}
										&bull;
									{% endif %}
									{{ item|render|striptags|trim}}
								{% endfor %}</span>
						{% endif %}
					</div>
				{% endif %}
				{% if content.field_ucb_person_email|render or content.field_ucb_person_phone|render %}
					<div class="ucb-person-section ucb-person-contact">
						{% if content.field_ucb_person_email|render %}
							<div itemprop="email">
								{{ content.field_ucb_person_email }}
							</div>
						{% endif %}
						{% if content.field_ucb_person_phone|render %}
							<div itemprop="telephone">
								{{ content.field_ucb_person_phone }}
							</div>
						{% endif %}
					</div>
				{% endif %}
				{% if content.field_ucb_person_links|render %}
					<div class="ucb-person-section ucb-person-links">
						{{ content.field_ucb_person_links }}
					</div>
				{% endif %}
				{% if content.field_ucb_person_address|render %}
					<div class="ucb-person-section ucb-person-address" itemprop="address">
						{{ content.field_ucb_person_address }}
					</div>
				{% endif %}
				{% if content.field_ucb_person_office_hours|render %}
					<div class="ucb-person-section ucb-person-office-hours" aria-labelledby="headerOfficeHours">
						<span class="ucb-person-section-header" id="headerOfficeHours">Office Hours</span>
						{{ content.field_ucb_person_office_hours }}
					</div>
				{% endif %}
				{% if content.body|render %}
					<div class="ucb-person-section ucb-person-body">
						{{ content.body }}
					</div>
				{% endif %}
			</div>
		</div>
	</div>
</article>
