{{ attach_library('boulder_base/ucb-search-box') }}
<div class="ucb-search-box" role="search">
  <form action="{{ site_search.0.url }}" method="get">
    <div class="ucb-search-box-inputs">
      <div class="ucb-search-input-text">
        <label for="ucb-search-text-field" class="visually-hidden">Enter the terms you wish to search for.</label>
        <input id="ucb-search-text-field" placeholder="{{ site_search.0.placeholder }}" type="search" name="{{ site_search.0.parameter ?? 'keys' }}" value="" size="15" maxlength="1024">
      </div>
      <div class="ucb-search-input-submit">
        <input type="submit" value="Search">
      </div>
    </div>
    {% if site_search|length > 1 %}
      <div class="ucb-search-box-options">
        {% for index, search in site_search %}
          <div>
            <input {{ index == 0 ? 'checked ' }}id="search-{{ search.name }}" class="me-1" name="search-box-option" type="radio" value="{{ search.name }}" data-placeholder="{{ search.placeholder }}" data-parameter="{{ search.parameter ?? 'keys' }}" data-action="{{ search.url }}"> <label for="search-{{ search.name }}">{{ search.label }}</label>
          </div>
        {% endfor %}
      </div>
    {% endif %}
    <div class="ucb-search-box-links">
      <h3 class="d-inline">Other ways to search:</h3>
      <ul class="d-inline list-inline"><li class="list-inline-item"><a href="https://calendar.colorado.edu">Events Calendar</a></li><li class="list-inline-item"><a href="https://www.colorado.edu/map">Campus Map</a></li></ul>
    </div>
  </form>
</div>
