{#
/**
 * Theme layout to display a Social Media Menu.
 *
 * Created by jsparks on 6/10/19
 */
#}

{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
    {% import _self as menus %}
    {% if items %}
        <ul class="menu social-media navbar-nav navbar-social">
            {% for item in items %}
                {%
                    set classes = [
                    'social-media-item',
                    'menu-item',
                    item.is_expanded ? 'menu-item--expanded',
                    item.is_collapsed ? 'menu-item--collapsed',
                    item.in_active_trail ? 'menu-item--active-trail',
                ]
                %}
                <li{{ item.attributes.addClass(classes) }}>
{% set formattedContent = item.url |render|striptags|trim|upper %}

			{% if 'TWITTER' in formattedContent %}
				<a href="{{ item.url }}" class="icon-a" title="Twitter" alt="Twitter">
					<span class="icon-div">
						<span class="sr-only">Twitter</span>
						<span class="icon-bg icon-bg-twitter">
							<i class="fab fa-twitter icon-foreground"></i>
						</span>
						<span class="vertical-icon-span">Twitter</span>
					</span>
				</a>
			{% elseif 'FACEBOOK' in formattedContent %}
				<a href="{{ item.url }}" class="icon-a" title="FaceBook" alt="FaceBook">
					<span class="icon-div">
						<span class="sr-only">FaceBook</span>
						<span class="icon-bg icon-bg-facebook">
							<i class="fab fa-facebook-f icon-foreground"></i>
						</span>
						<span class="vertical-icon-span">FaceBook</span>
					</span>
				</a>

			{% elseif 'INSTAGRAM' in formattedContent %}
				<a href="{{ item.url }}" class="icon-a" title="Instagram" alt="Instagram">
					<span class="icon-div">
						<span class="sr-only">Instagram</span>
						<span class="icon-bg icon-bg-instagram">
							<i class="fab fa-instagram icon-foreground"></i>
						</span>
						<span class="vertical-icon-span">Instagram</span>
					</span>
				</a>

			{% elseif 'LINKEDIN' in formattedContent %}
				<a href="{{ item.url }}" class="icon-a" title="LinkedIn" alt="LinkedIn">
					<span class="icon-div">
						<span class="sr-only">LinkedIn</span>
						<span class="icon-bg icon-bg-linkedin">
							<i class="fab fa-linkedin-in icon-foreground"></i>
						</span>
						<span class="vertical-icon-span">LinkedIn</span>
					</span>
				</a>

			{% elseif 'YOUTUBE' in formattedContent %}
				<a href="{{ item.url }}" class="icon-a" title="YouTube" alt="YouTube">
					<span class="icon-div">
						<span class="sr-only">YouTube</span>
						<span class="icon-bg icon-bg-youtube">
							<i class="fab fa-youtube icon-foreground"></i>
						</span>
						<span class="vertical-icon-span">YouTube</span>
					</span>
				</a>
			{% elseif 'PINTREST' in formattedContent %}
					<a href="{{ item.url }}" class="icon-a" title="Pintrest" alt="Pintrest">
						<span class="icon-div">
							<span class="sr-only">Pintrest</span>
							<span class="icon-bg icon-bg-pintrest">
								<i class="fab fa-pinterest-p icon-foreground"></i>
							</span>
							<span class="vertical-icon-span">Pintrest</span>
						</span>
					</a>
			{% elseif 'FLICKR' in formattedContent %}
					<a href="{{ item.url }}" class="icon-a" title="Flickr" alt="Flickr">
						<span class="icon-div">
							<span class="sr-only">Flickr</span>
							<span class="icon-bg icon-bg-flickr">
								<i class="fab fa-flickr icon-foreground"></i>
							</span>
							<span class="vertical-icon-span">Flickr</span>
						</span>
					</a>
			{% elseif 'VIMEO' in formattedContent %}
					<a href="{{ item.url }}" class="icon-a" title="Vimeo" alt="Vimeo">
						<span class="icon-div">
							<span class="sr-only">Vimeo</span>
							<span class="icon-bg icon-bg-vimeo">
								<i class="fab fa-vimeo-v icon-foreground"></i>
							</span>
							<span class="vertical-icon-span">Vimeo</span>
						</span>
					</a>
			{% elseif 'WORDPRESS' in formattedContent %}
					<a href="{{ item.url }}" class="icon-a" title="Wordpress" alt="Wordpress">
						<span class="icon-div">
							<span class="sr-only">WordPress</span>
							<span class="icon-bg icon-bg-wordpress">
								<i class="fab fa-wordpress-simple icon-foreground"></i>
							</span>
							<span class="vertical-icon-span">WordPress</span>
						</span>
					</a>
			{% elseif 'TIKTOK' in formattedContent %}
					<a href="{{ item.url }}" class="icon-a" title="Tiktok" alt="Tiktok">
						<span class="icon-div">
							<span class="sr-only">TikTok</span>
							<span class="icon-bg icon-bg-pintrest">
								<i class="fab fa-tiktok icon-foreground"></i>
							</span>
							<span class="vertical-icon-span">TikTok</span>
						</span>
					</a>
			{% elseif 'REDDIT' in formattedContent %}
					<a href="{{ item.url }}" class="icon-a" title="Reddit" alt="Reddit">
						<span class="icon-div">
							<span class="sr-only">Reddit</span>
							<span class="icon-bg icon-bg-pintrest">
								<i class="fab fa-reddit-alien icon-foreground"></i>
							</span>
							<span class="vertical-icon-span">Reddit</span>
						</span>
					</a>

			{% elseif 'PATREON' in formattedContent %}
					<a href="{{ item.url }}" class="icon-a" title="Patreon" alt="Patreon">
						<span class="icon-div">
							<span class="sr-only">Patreon</span>
							<span class="icon-bg icon-bg-patreon">
								<i class="fab fa-patreon icon-foreground"></i>
							</span>
							<span class="vertical-icon-span">Patreon</span>
						</span>
					</a>

			{% elseif 'DISCORD' in formattedContent %}
					<a href="{{ item.url }}" class="icon-a" title="Discord" alt="Discord">
						<span class="icon-div">
							<span class="sr-only">Discord</span>
							<span class="icon-bg icon-bg-discord">
								<i class="fab fa-discord icon-foreground"></i>
							</span>
							<span class="vertical-icon-span">Discord</span>
						</span>
					</a>
			{% else %}
				<a href="{{ item.url }}" class="icon-a" title="Social Media" alt="Social Media">
					<span class="icon-div">
						<span class="sr-only">Link</span>
						<span class="icon-bg icon-bg-link">
							<i class="fas fa-external-link-alt icon-foreground"></i>
						</span>
						<span class="vertical-icon-span">Link</span>
					</span>
				</a>

			{% endif %}
            </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}
