{#
/**
 * @file Contains the template to display a Social Media menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}

{% set classes = [
  'menu',
  'social-media',
  'navbar-nav',
  'navbar-social'
] %}

{% macro link(name, uri, icon, className) %}
  <a{{ create_attribute({ 'aria-label': name, href: uri, title: name }) }}>
    <span class="icon-div">
      <span{{ create_attribute({ class: ['icon-bg', 'icon-bg-' ~ className] }) }}>
        <i{{ create_attribute({ class: [icon, 'icon-foreground'] }) }}></i>
      </span>
      <span class="icon-label">{{ name }}</span>
    </span>
  </a>
{% endmacro %}

{% macro links(items) %}
  {% for item in items %}
    <li>
      {% set uri = (item.content ? item.content['#url'].uri : item.url.uri)|trim %}
      {% set hostname = '' %}
      {% if uri matches '/^(http(s)?:)?\\/\\//i' %}
        {% set hostname = uri|split('/').2|upper %}
      {% endif %}
      {% if 'FACEBOOK' in hostname %}
        {{ _self.link('Facebook', uri, 'fa-brands fa-facebook-f', 'facebook') }}
      {% elseif 'INSTAGRAM' in hostname %}
        {{ _self.link('Instagram', uri, 'fa-brands fa-instagram', 'instagram') }}
      {% elseif 'LINKEDIN' in hostname %}
        {{ _self.link('LinkedIn', uri, 'fa-brands fa-linkedin-in', 'linkedin') }}
      {% elseif 'YOUTUBE' in hostname %}
        {{ _self.link('YouTube', uri, 'fa-brands fa-youtube', 'youtube') }}
      {% elseif 'PINTREST' in hostname %}
        {{ _self.link('Pintrest', uri, 'fa-brands fa-pinterest-p', 'pintrest') }}
      {% elseif 'FLICKR' in hostname %}
        {{ _self.link('Flickr', uri, 'fa-brands fa-flickr', 'flickr') }}
      {% elseif 'VIMEO' in hostname %}
        {{ _self.link('Vimeo', uri, 'fa-brands fa-vimeo-v', 'vimeo') }}
      {% elseif 'WORDPRESS' in hostname %}
        {{ _self.link('WordPress', uri, 'fa-brands fa-wordpress-simple', 'wordpress') }}
      {% elseif 'TIKTOK' in hostname %}
        {{ _self.link('TikTok', uri, 'fa-brands fa-tiktok', 'tiktok') }}
      {% elseif 'REDDIT' in hostname %}
        {{ _self.link('Reddit', uri, 'fa-brands fa-reddit-alien', 'reddit') }}
      {% elseif 'PATREON' in hostname %}
        {{ _self.link('Patreon', uri, 'fa-brands fa-patreon', 'patreon') }}
      {% elseif 'DISCORD' in hostname %}
        {{ _self.link('Discord', uri, 'fa-brands fa-discord', 'discord') }}
      {% elseif 'TWITTER' in hostname or 'X.COM' in hostname  %}
        {{ _self.link('X', uri, 'fa-brands fa-x-twitter', 'twitter') }}
      {% else %}
        {{ _self.link('Link', uri, 'fa-solid fa-up-right-from-square', 'link') }}
      {% endif %}
    </li>
  {% endfor %}
{% endmacro %}

{% if items %}
  <ul{{ attributes.addClass(classes) }}>
    {{ _self.links(items) }}
  </ul>
{% endif %}
