{#
/**
 * @file Contains the template to display a Social Media menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}

{% macro link(name, title, uri, icon, className) %}
  <a{{ create_attribute({ 'aria-label': title ? title : name, href: uri, title: name }) }}>
    <span{{ create_attribute({ class: ['icon-bg', 'icon-bg-' ~ className] }) }}>
      <i{{ create_attribute({ class: [icon, 'icon-foreground'] }) }}></i>
    </span>
    <span class="icon-label">{{ title ? title : name }}</span>
  </a>
{% endmacro %}

{% macro links(items, useTitle = false) %}
  {% for item in items %}
    <li>
      {% set uri = (item.content ? item.content['#url']|render : item.url|render)|trim %}
      {% if useTitle %}
        {% set title = (item.content ? item.content['#title']|render : item.title|render)|trim %}
        {% set title = title ? title : uri %}
      {% endif %}
      {% set hostname = '' %}
      {% if uri matches '/^(http(s)?:)?\\/\\//i' %}
        {% set hostname = uri|split('/').2 %}
      {% endif %}
      {% if hostname matches '/facebook\\.com$/i' %}
        {{ _self.link('Facebook', title, uri, 'fa-brands fa-facebook-f', 'facebook') }}
      {% elseif hostname matches '/instagram\\.com$/i' %}
        {{ _self.link('Instagram', title, uri, 'fa-brands fa-instagram', 'instagram') }}
      {% elseif hostname matches '/linkedin\\.com$/i' %}
        {{ _self.link('LinkedIn', title, uri, 'fa-brands fa-linkedin-in', 'linkedin') }}
      {% elseif hostname matches '/youtube\\.com$/i' %}
        {{ _self.link('YouTube', title, uri, 'fa-brands fa-youtube', 'youtube') }}
      {% elseif hostname matches '/(pinterest\\.com|pin\\.it)$/i' %}
        {{ _self.link('Pinterest', title, uri, 'fa-brands fa-pinterest-p', 'pinterest') }}
      {% elseif hostname matches '/(flickr\\.com|flic\\.kr)$/i' %}
        {{ _self.link('Flickr', title, uri, 'fa-brands fa-flickr', 'flickr') }}
      {% elseif hostname matches '/vimeo\\.com$/i' %}
        {{ _self.link('Vimeo', title, uri, 'fa-brands fa-vimeo-v', 'vimeo') }}
      {% elseif hostname matches '/wordpress\\.com$/i' %}
        {{ _self.link('WordPress', title, uri, 'fa-brands fa-wordpress-simple', 'wordpress') }}
      {% elseif hostname matches '/tiktok\\.com$/i' %}
        {{ _self.link('TikTok', title, uri, 'fa-brands fa-tiktok', 'tiktok') }}
      {% elseif hostname matches '/reddit\\.com$/i' %}
        {{ _self.link('Reddit', title, uri, 'fa-brands fa-reddit-alien', 'reddit') }}
      {% elseif hostname matches '/patreon\\.com$/i' %}
        {{ _self.link('Patreon', title, uri, 'fa-brands fa-patreon', 'patreon') }}
      {% elseif hostname matches '/discord\\.(com|gg)$/i' %}
        {{ _self.link('Discord', title, uri, 'fa-brands fa-discord', 'discord') }}
      {% elseif hostname matches '/(twitter|x)\\.com$/i'  %}
        {{ _self.link('X', title, uri, 'fa-brands fa-x-twitter', 'twitter') }}
      {% elseif hostname matches '/bsky\\.app$/i' %}
        {{ _self.link('Bluesky', title, uri, 'fa-brands fa-bluesky', 'bluesky') }}
      {% else %}
        {{ _self.link('Link', title, uri, 'fa-solid fa-up-right-from-square', 'link') }}
      {% endif %}
    </li>
  {% endfor %}
{% endmacro %}

{% set classes = [
  'menu',
  'social-media',
  'navbar-nav',
  'navbar-social'
] %}

{% if items %}
  <ul{{ attributes.addClass(classes) }}>
    {{ _self.links(items) }}
  </ul>
{% endif %}
