{#
/**
 * @file Contains the template to display the Content Grid block.
 */
#}
{% set classes = [
  'container',
  'block',
  'block-' ~ configuration.provider|clean_class,
  'block-' ~ plugin_id|clean_class,
  bundle ? 'block--type-' ~ bundle|clean_class,
  view_mode ? 'block--view-mode-' ~ view_mode|clean_class,
  'content-grid-block'
] %}

{% set layoutSelection = content['#block_content'].field_grid_layout_selection.value %}
{% set columnCount = content['#block_content'].field_grid_column_count.value %}
{% if columnCount == '0' %}
  {% set columnCount = '2' %}
{% elseif columnCount == '1' %}
  {% set columnCount = '3' %}
{% elseif columnCount == '2' %}
  {% set columnCount = '4' %}
{% elseif columnCount == '3' %}
  {% set columnCount = '5' %}
{% elseif columnCount == '4' %}
  {% set columnCount = '6' %}
{% else %}
  {% set columnCount = '3' %}
{% endif %}
{% set imgStyle = 'focal_image_square' %}
{% if content['#block_content'].field_grid_image_style.value == '1' %}
  {% set imgStyle = 'focal_image_wide' %}
{% endif %}
{% set contentParagraphs = content['#block_content'].field_grid_layout_content %}

{% extends '@boulder_base/block/styled-block.html.twig' %}
{% block content %}
  {{ attach_library('boulder_base/ucb-content-grid') }}
  {# Overlay Grid Layout #}
  {% if layoutSelection == '2' %}
    <div class="row row-cols-lg-{{ columnCount }} row-cols-md-2 row-cols-1">
      {% for key, item in contentParagraphs %}
        {% if item.entity.field_grid_layout_content_image.entity.field_media_image.entity.fileuri %}
          {% set title = item.entity.field_grid_layout_content_title.value %}
          {% set imgUrl = item.entity.field_grid_layout_content_image.entity.field_media_image.entity.fileuri|image_style(imgStyle) %}
          {% set imgAlt = item.entity.field_grid_layout_content_image.entity.field_media_image.alt %}
          {% set link = item.entity.field_grid_layout_content_link.0.url|render %}
          {% set containerTag = link ? 'a' : 'span' %}
          <div class="col">
            <div class="grid-column">
              <div class="overlay-grid-image-container grid-fill">
                {% if title %}
                  <{{ containerTag }}{{ create_attribute({ href: link }) }}>
                    <strong>{{ title }}</strong>
                  </{{ containerTag }}>
                {% endif %}
                <{{ containerTag }}{{ create_attribute({ role: 'presentation', 'aria-hidden': 'true', href: link }) }}>
                  <img{{ create_attribute({ src: imgUrl, alt: imgAlt }) }}>
                </{{ containerTag }}>
              </div>
              {% if item.entity.field_grid_layout_content_text|view %}
                <div class="overlay-grid-text">
                  {{ item.entity.field_grid_layout_content_text|view }}
                </div>
              {% endif %}
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  {# Offset Grid Layout #}
  {% elseif layoutSelection == '3' %}
    <div class="row row-cols-lg-2 row-cols-1">
      {% for key, item in contentParagraphs %}
        <div{{ create_attribute({ class: loop.index % 6 > 1 ? 'col-lg-3 col-md-6 col' : 'col' }) }}>
          {% set title = item.entity.field_grid_layout_content_title.value %}
          {% if item.entity.field_grid_layout_content_image.entity.field_media_image.entity.fileuri %}
            {% set imgUrl = item.entity.field_grid_layout_content_image.entity.field_media_image.entity.fileuri|image_style(imgStyle) %}
            {% set imgAlt = item.entity.field_grid_layout_content_image.entity.field_media_image.alt %}
          {% else %}
            {% set imgUrl = null %}
          {% endif %}
          {% set link = item.entity.field_grid_layout_content_link.0.url|render %}
          {% set containerTag = link ? 'a' : 'span' %}
          <div class="d-flex flex-column-reverse justify-content-end grid-column">
            {% if title %}
              <div class="grid-text-container">
                <{{ containerTag }}{{ create_attribute({ href: link }) }}>
                  <strong class="h3">{{ title }}</strong>
                </{{ containerTag }}>
              </div>
            {% endif %}
            {% if imgUrl %}
              <{{ containerTag }}{{ create_attribute({ role: 'presentation', 'aria-hidden': 'true', class: 'grid-image-container grid-fill', href: link }) }}>
                <img{{ create_attribute({ src: imgUrl, alt: imgAlt }) }}>
              </{{ containerTag }}>
            {% endif %}
          </div>
          {% if item.entity.field_grid_layout_content_text|view %}
            <div class="grid-text-container">
              {{ item.entity.field_grid_layout_content_text|view }}
            </div>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  {# Column or Card Grid Layout #}
  {% else %}
    <div class="row row-cols-lg-{{ columnCount }} row-cols-md-2 row-cols-1">
      {% for key, item in contentParagraphs %}
        <div class="col">
          <div{{ create_attribute({ class: layoutSelection == '1' ? 'grid-card' : 'grid-column' }) }}>
            {% set title = item.entity.field_grid_layout_content_title.value %}
            {% if item.entity.field_grid_layout_content_image.entity.field_media_image.entity.fileuri %}
              {% set imgUrl = item.entity.field_grid_layout_content_image.entity.field_media_image.entity.fileuri|image_style(imgStyle) %}
              {% set imgAlt = item.entity.field_grid_layout_content_image.entity.field_media_image.alt %}
            {% else %}
              {% set imgUrl = null %}
            {% endif %}
            {% set link = item.entity.field_grid_layout_content_link.0.url|render %}
            {% set containerTag = link ? 'a' : 'span' %}
            <div class="d-flex flex-column-reverse justify-content-end">
              {% if title %}
                <div class="grid-text-container">
                  <{{ containerTag }}{{ create_attribute({ href: link }) }}>
                    <strong class="h3">{{ title }}</strong>
                  </{{ containerTag }}>
                </div>
              {% endif %}
              {% if imgUrl %}
                <{{ containerTag }}{{ create_attribute({ role: 'presentation', 'aria-hidden': 'true', class: 'grid-image-container grid-fill', href: link }) }}>
                  <img{{ create_attribute({ src: imgUrl, alt: imgAlt }) }}>
                </{{ containerTag }}>
              {% endif %}
            </div>
            {% if item.entity.field_grid_layout_content_text|view %}
              <div class="grid-text-container">
                {{ item.entity.field_grid_layout_content_text|view }}
              </div>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endblock content %}
