{#
/**
 * @file Contains the template to display the Social Media Icons block type.
 */
#}

{{ attach_library('boulder_base/ucb-social-media-icons-block') }}

{# layoutSelection gathers the orientation value from the orientation field, 
    0 -> Horizontal
    1 -> Vertical #}
{% set layoutSelection = content.field_social_media_icon_or['#items'].value %}

{# imageSizeListValue gathers the icon size value from the icon size field
    0 -> Tiny
    1 -> Small
    2 -> Medium
    3 -> Large #}
{% set imageSizeListValue = content.field_social_media_link_size['#items'].value %}

{# imageSize coverts the value from imageSizeListValue into a css class.
    Base value is Tiny corresponding to 0 in the imageSizeListValue. #}
{% set imageSize = 'imgTiny' %}
{% if imageSizeListValue  == 'tiny' %}
  {% set imageSize = 'imgTiny' %}
{% elseif imageSizeListValue == 'small' %}
  {% set imageSize = 'imgSmall' %}
{% elseif imageSizeListValue == 'medium' %}
  {% set imageSize = 'imgMedium' %}
{% elseif imageSizeListValue == 'large' %}
  {% set imageSize = 'imgLarge' %}
{% endif %}

{% set classes = [
  'block',
  'block-' ~ configuration.provider|clean_class,
  'block-' ~ plugin_id|clean_class,
  bundle ? 'block--type-' ~ bundle|clean_class,
  view_mode ? 'block--view-mode-' ~ view_mode|clean_class,
  'social-media-icons-block',
  layoutSelection ~ '-orientation',
  imageSize
] %}

{# Block/Title/Icon Styles #}
{% set blockStyles = [
  content.field_bs_background_style|render|striptags|trim,
  content.field_bs_content_font_scale|render|striptags|trim,
  content.field_bs_icon_position|render|striptags|trim,
  content.field_bs_heading_alignment|render|striptags|trim,
  content.field_bs_title_font_scale|render|striptags|trim
] %}

{% set iconColor = content.field_bs_icon_color|render|striptags|trim %}
{% set iconSize = content.field_bs_icon_size|render|striptags|trim %}
{% set headingTag = content.field_bs_heading|render|striptags|trim %}
{% set headingStyle = content.field_bs_heading_style|render|striptags|trim %}

{% block content %}
  <div{{ attributes.addClass(classes, blockStyles) }}>
    {{ title_prefix }}
    {% if label %}
      <div class="block-title {{ headingStyle }}">
        <{{ headingTag }}{{ title_attributes }}>
          <span class='block-title-icon {{ iconColor }} {{ iconPosition }} {{ iconSize }}'>
            {{ content.field_bs_icon }}
          </span>
          <span class="block-title-text">
            {{ label }}
          </span>
        </{{ headingTag }}>
      </div>
    {% endif %}
    {{ title_suffix }}
    {{ content.field_social_media_links }}
    {{ content.field_social_media_email_link }}
  </div>
{% endblock content %}
