{#
/**
 * @file Contains the template to implement a system menu block.
 * @author Timur Tripp
 */
#}

{% set classes = [
  'block',
  'block-' ~ configuration.provider|clean_class,
  'block-' ~ plugin_id|clean_class,
  bundle ? 'block--type-' ~ bundle|clean_class,
  view_mode ? 'block--view-mode-' ~ view_mode|clean_class,
  'ucb-system-menu-block'
] %}


{% if content|render %}
{% block content %}
  <div{{attributes.addClass(classes)}}>
    {{ title_prefix }}
    {% if label %}
      <h2{{title_attributes}}>{{ label }}</h2>
    {% endif %}
    {{ title_suffix }}
    {{ content }}
  </div>
{% endblock content %}
{% endif %}