{#
/**
 * @file
 * Implements the advanced "Content Sequence" block.
 * @author Tim Tripp
 */
#}
{{ attach_library('boulderD9_base/timelinejs') }}
{{ attach_library('boulderD9_base/ucb-content-sequence-advanced') }}
{% set entity = content['#block_content'] %}{% set classes = [
	'container',
	'block',
	'block-' ~ configuration.provider|clean_class,
	'block-' ~ plugin_id|clean_class,
	bundle ? 'block--type-' ~ bundle|clean_class,
	view_mode ? 'block--view-mode-' ~ view_mode|clean_class,
	'ucb-content-sequence-advanced'
] %}{% set timelineEvents = [] %}{% set timelineOptions = {
	'hash_bookmark': true,
	'scale_factor': entity.field_content_sequence_scale.value,
	'font': 'Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif'
} %}{% set embedId = 'timeline-embed-' ~ entity.uuid.value %}
{% if entity.field_sequence_title.value or entity.body.value %}{% set imageField = entity.field_content_sequence_media.entity.field_media_image %}{% set videoField = entity.field_content_sequence_media.entity.field_media_oembed_video %}{% if imageField %}{% set titleMedia = {
	'url': file_url(imageField.entity.fileuri),
	'alt': imageField.alt
} %}{% elseif videoField %}{% set titleMedia = {
	'url': videoField.value,
} %}{% else %}{% set titleMedia = null %}{% endif %}
{% set titleSlide = {
	'text': {
		'headline': entity.field_content_sequence_title.value,
		'text': content.body|render
	},
	media: titleMedia
} %}{% endif %}
{% for item in entity.field_content_sequence_items %}
{% set startDate = item.entity.field_sequence_item_start_date.0.value ?? 'now' %}{% set endDate = item.entity.field_sequence_item_end_date.0.value ?? 'now' %}{% set itemLink = item.entity.field_sequence_item_url.uri %}
{% set imageField = item.entity.field_sequence_item_media.entity.field_media_image %}{% set videoField = item.entity.field_sequence_item_media.entity.field_media_oembed_video %}{% if imageField %}{% set itemMedia = {
	'url': file_url(imageField.entity.fileuri),
	'link': itemLink,
	'alt': imageField.alt
} %}{% elseif videoField %}{% set itemMedia = {
	'url': videoField.value,
} %}{% else %}{% set itemMedia = null %}{% endif %}{% set itemTitleText = item.entity.field_sequence_item_title.value %}{% if itemLink %}{% set itemTitle = '<a href="' ~ item.entity.field_sequence_item_url.uri ~ '">' ~ itemTitleText ~ '</a>' %}{% else %}{% set itemTitle = itemTitleText %}{% endif %}
{% set itemData = {
	'text': {
		'headline': itemTitle,
		'text': item.entity.field_sequence_item_descr|view|render
	},
	'start_date': {
		'month': startDate|date('m'),
		'day': startDate|date('d'),
		'year': startDate|date('Y'),
		'display_date': item.entity.field_sequence_item_d_start_date.0.value
	},
	'end_date': {
		'month': endDate|date('m'),
		'day': endDate|date('d'),
		'year': endDate|date('Y'),
		'display_date': item.entity.field_sequence_item_d_end_date.0.value
	},
	'group': item.entity.field_sequence_item_group.value,
	'media': itemMedia
} %}{% set timelineEvents = timelineEvents|merge([itemData]) %}
{% endfor %}{% set timelineData = {'title': titleSlide, 'events': timelineEvents} %}
{% block content %}<div{{ attributes.addClass(classes) }}>
	{{ title_prefix }}
	{% if label %}<h2{{ title_attributes }}>{{ label }}</h2>{% endif %}
	{{ title_suffix }}
	<div id="{{ embedId }}" aria-hidden="true" role="presentation" tabindex="-1"></div>
	<script type="text/javascript">
		(function(readyState) {
			function loadTimeline() { new TL.Timeline('{{ embedId }}', {{ timelineData | json_encode | raw }}, {{ timelineOptions | json_encode | raw }}); }
			if (readyState === 'loading')
				document.addEventListener('DOMContentLoaded', loadTimeline);
			else loadTimeline();
		})(document.readyState);
	</script>
</div>{% endblock %}
