{#
/**
 * @file
 * Theme to implement the expandable content (accordion, horizontal/vertical tabs)
 *
 * Created by Joshua Nicholson on 08/09/22
#}

{{ attach_library('boulderD9_base/ucb-expandable-content') }}

{%
  set classes = [
	'container',
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    bundle ? 'block--type-' ~ bundle|clean_class,
    view_mode ? 'block--view-mode-' ~ view_mode|clean_class
  ]
%}

{% set layoutSelection = content['#block_content'].field_expandable_content_type.value %}


{% block content %}
	<div{{attributes.addClass(classes)}}>
		{{ title_prefix }}
		{% if label %}
			<h2{{title_attributes}}>{{ label }}</h2>
		{% endif %}
		{{ title_suffix }}
		<!-- Accordion -->
		{% if layoutSelection == 0 %}
			<div class="accordion accordion-flush ucb-accordion-content" id="ucb-accordion{{ content['#block_content'].id() }}">
				{% for child in content['#block_content'].field_expandable_content_copy|children %}
					<div class="accordion-item">
						<h2 class="accordion-header" id="ucb-accordion{{ content['#block_content'].id() }}-title{{ loop.index }}">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#ucb-accordion{{ content['#block_content'].id() }}-content{{ loop.index }}" aria-expanded="false" aria-controls="ucb-accordion{{ content['#block_content'].id() }}-content{{ loop.index }}">
								{{ child.entity.field_expandable_content_title|view }}
							</button>
						</h2>
						<div id="ucb-accordion{{ content['#block_content'].id() }}-content{{ loop.index }}" class="accordion-collapse collapse" aria-labelledby="ucb-accordion{{ content['#block_content'].id() }}-title{{ loop.index }}" data-bs-parent="#ucb-accordion{{ content['#block_content'].id() }}">
							<div class="accordion-body">
								{{ child.entity.field_expandable_content_body|view }}
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
			<!-- Accordion ends -->
			<!-- horizontal tab/accordion -->
		{% elseif layoutSelection == 1 %}
			<!-- horizontal tab/accordion tabs -->
			<ul class="nav nav-tabs justify-content-center" id="ucb-horizontal-tabs{{ content['#block_content'].id() }}" role="tablist">
				{% for child in content['#block_content'].field_expandable_content_copy|children %}
					{% if loop.first == true %}
						<li class="nav-item" role="presentation">
							<button class="nav-link horizontal-tab-link active" id="ucb-horizontal-tabs{{ content['#block_content'].id() }}-title{{ loop.index }}-tab" data-bs-toggle="tab" data-bs-target="#ucb-horizontal-tabs{{ content['#block_content'].id() }}-title{{ loop.index }}" type="button" role="tab" aria-controls="ucb-horizontal-tabs{{ content['#block_content'].id() }}-title{{ loop.index }}" aria-selected="true">{{ child.entity.field_expandable_content_title|view }}</button>
						</li>
					{% else %}
						<li class="nav-item" role="presentation">
							<button class="nav-link horizontal-tab-link" id="ucb-horizontal-tabs{{ content['#block_content'].id() }}-title{{ loop.index }}-tab" data-bs-toggle="tab" data-bs-target="#ucb-horizontal-tabs{{ content['#block_content'].id() }}-title{{ loop.index }}" type="button" role="tab" aria-controls="ucb-horizontal-tabs{{ content['#block_content'].id() }}-title{{ loop.index }}" aria-selected="true">{{ child.entity.field_expandable_content_title|view }}</button>
						</li>
					{% endif %}
				{% endfor %}
			</ul>
			<!-- horizontal tab/accordion tabs ends -->
			<!-- horizontal tab/accordion content -->
			<div id="ucb-tab-accordion{{ content['#block_content'].id() }}" class="tab-content accordion-flush horizontal-tab-content" role="tablist">
				{% for child in content['#block_content'].field_expandable_content_copy|children %}
					{% if loop.first == true %}
						<div class="tab-pane fade show active accordion-item" id="ucb-horizontal-tabs{{ content['#block_content'].id() }}-title{{ loop.index }}" role="tabpanel" aria-labelledby="ucb-horizontal-tabs{{ content['#block_content'].id() }}-title{{ loop.index }}-tab">
							<div class="horizontal-accordion-tab" role="tab" id="ucb-tab-accordion{{ content['#block_content'].id() }}-title{{ loop.index }}">
								<h5 class="mb-0">
									<button class="accordion-button collapsed" data-bs-toggle="collapse" href="#ucb-tab-accordion{{ content['#block_content'].id() }}-content{{ loop.index }}" aria-expanded="true" aria-controls="ucb-tab-accordion{{ content['#block_content'].id() }}-content{{ loop.index }}">
										{{ child.entity.field_expandable_content_title|view }}
									</a>
								</h5>
							</div>
							<div id="ucb-tab-accordion{{ content['#block_content'].id() }}-content{{ loop.index }}" class="collapse" data-bs-parent="#ucb-tab-accordion{{ content['#block_content'].id() }}" role="tabpanel" aria-labelledby="ucb-tab-accordion{{ content['#block_content'].id() }}-title{{ loop.index }}">
								<div class="card-body">
									{{ child.entity.field_expandable_content_body|view }}
								</div>
							</div>
						</div>
					{% else %}
						<div class="tab-pane fade accordion-item" id="ucb-horizontal-tabs{{ content['#block_content'].id() }}-title{{ loop.index }}" role="tabpanel" aria-labelledby="ucb-horizontal-tabs{{ content['#block_content'].id() }}-title{{ loop.index }}-tab">
							<div class="horizontal-accordion-tab" role="tab" id="ucb-tab-accordion{{ content['#block_content'].id() }}-title{{ loop.index }}">
								<h5 class="mb-0">
									<button class="accordion-button collapsed" data-bs-toggle="collapse" href="#ucb-tab-accordion{{ content['#block_content'].id() }}-content{{ loop.index }}" aria-expanded="false" aria-controls="ucb-tab-accordion{{ content['#block_content'].id() }}-content{{ loop.index }}">
										{{ child.entity.field_expandable_content_title|view }}
									</a>
								</h5>
							</div>
							<div id="ucb-tab-accordion{{ content['#block_content'].id() }}-content{{ loop.index }}" class="collapse" data-bs-parent="#ucb-tab-accordion{{ content['#block_content'].id() }}" role="tabpanel" aria-labelledby="ucb-tab-accordion{{ content['#block_content'].id() }}-title{{ loop.index }}">
								<div class="card-body">
									{{ child.entity.field_expandable_content_body|view }}
								</div>
							</div>
						</div>
						<!-- horizontal tab/accordion content ends -->
					{% endif %}
				{% endfor %}
			</div>
			<!-- horizontal tab/accordion ends -->
			<!-- vertical tab/accordion -->
		{% else %}
			<div
				class="vertical-tab-accordion d-flex align-items-start">
				<!-- vertical tab/accordion tabs -->
				<div class="vertical-tabs nav flex-column nav-pills" id="ucb-vertical-tabs{{ content['#block_content'].id() }}" role="tablist" aria-orientation="vertical">
					{% for child in content['#block_content'].field_expandable_content_copy|children %}
						{% if loop.first == true %}
							<button class="nav-link vertical-tab-link active" id="ucb-vertical-tabs{{ content['#block_content'].id() }}-title{{ loop.index }}-tab" data-bs-toggle="pill" data-bs-target="#ucb-vertical-tabs{{ content['#block_content'].id() }}-title{{ loop.index }}" type="button" role="tab" aria-controls="ucb-vertical-tabs{{ content['#block_content'].id() }}-title{{ loop.index }}" aria-selected="true">{{ child.entity.field_expandable_content_title|view }}</button>
						{% else %}
							<button class="nav-link vertical-tab-link" id="ucb-vertical-tabs{{ content['#block_content'].id() }}-title{{ loop.index }}-tab" data-bs-toggle="pill" data-bs-target="#ucb-vertical-tabs{{ content['#block_content'].id() }}-title{{ loop.index }}" type="button" role="tab" aria-controls="ucb-vertical-tabs{{ content['#block_content'].id() }}-title{{ loop.index }}" aria-selected="true">{{ child.entity.field_expandable_content_title|view }}</button>
						{% endif %}
					{% endfor %}
				</div>
				<!-- vertical tab/accordion tabs ends -->
				<!-- vertical tab/accordion content -->
				<div id="ucb-tab-accordion{{ content['#block_content'].id() }}" class="tab-content vertical-tab-content accordion-flush" role="tablist">
					{% for child in content['#block_content'].field_expandable_content_copy|children %}
						{% if loop.first == true %}
							<div class="accordion-item tab-pane fade show active" id="ucb-vertical-tabs{{ content['#block_content'].id() }}-title{{ loop.index }}" role="tabpanel" aria-labelledby="ucb-vertical-tabs{{ content['#block_content'].id() }}-title{{ loop.index }}-tab">
								<div class="vertical-accordion-tab" role="tab" id="ucb-tab-accordion{{ content['#block_content'].id() }}-title{{ loop.index }}">
									<h5 class="mb-0">
										<button class="accordion-button collapsed" data-bs-toggle="collapse" href="#ucb-tab-accordion{{ content['#block_content'].id() }}-content{{ loop.index }}" aria-expanded="true" aria-controls="ucb-tab-accordion{{ content['#block_content'].id() }}-content{{ loop.index }}">
											{{ child.entity.field_expandable_content_title|view }}
										</a>
									</h5>
								</div>
								<div id="ucb-tab-accordion{{ content['#block_content'].id() }}-content{{ loop.index }}" class="collapse" data-bs-parent="#ucb-tab-accordion{{ content['#block_content'].id() }}" role="tabpanel" aria-labelledby="ucb-tab-accordion{{ content['#block_content'].id() }}-title{{ loop.index }}">
									<div class="card-body">
										{{ child.entity.field_expandable_content_body|view }}
									</div>
								</div>
							</div>
						{% else %}
							<div class="accordion-item tab-pane fade" id="ucb-vertical-tabs{{ content['#block_content'].id() }}-title{{ loop.index }}" role="tabpanel" aria-labelledby="ucb-vertical-tabs{{ content['#block_content'].id() }}-title{{ loop.index }}-tab">
								<div class="vertical-accordion-tab" role="tab" id="ucb-tab-accordion{{ content['#block_content'].id() }}-title{{ loop.index }}">
									<h5 class="mb-0">
										<button class="accordion-button collapsed" data-bs-toggle="collapse" href="#ucb-tab-accordion{{ content['#block_content'].id() }}-content{{ loop.index }}" aria-expanded="false" aria-controls="ucb-tab-accordion{{ content['#block_content'].id() }}-content{{ loop.index }}">
											{{ child.entity.field_expandable_content_title|view }}
										</a>
									</h5>
								</div>
								<div id="ucb-tab-accordion{{ content['#block_content'].id() }}-content{{ loop.index }}" class="collapse" data-bs-parent="#ucb-tab-accordion{{ content['#block_content'].id() }}" role="tabpanel" aria-labelledby="ucb-tab-accordion{{ content['#block_content'].id() }}-title{{ loop.index }}">
									<div class="card-body">
										{{ child.entity.field_expandable_content_body|view }}
									</div>
								</div>
							</div>
						{% endif %}
					{% endfor %}
				</div>
				<!-- vertical tab/accordion content ends -->
			</div>
		{% endif %}
	</div>
{% endblock content %}
