{#
/**
 * @file
 * Theme to implement the social media icons block
 *
 * Created by Jacob Korf 2/15/2021
*
#}
{{ attach_library('boulder_base/ucb-social-media-icons-block') }}
{%
  set classes = [
	'block',
	'block-' ~ configuration.provider|clean_class,
	'block-' ~ plugin_id|clean_class,
	bundle ? 'block--type-' ~ bundle|clean_class,
	view_mode ? 'block--view-mode-' ~ view_mode|clean_class
  ]
%}


{% set checkMenuOption = content.field_sm_use_default_links['#items'].value  %}

<!-- layoutSelection gathers the orientation value from the orientation field, 
    0 -> Horizontal
    1 -> Vertical -->
{% set layoutSelection = content.field_social_media_icon_or['#items'].value %}

<!-- imageSizeListValue gathers the icon size value from the icon size field
    0 -> Tiny
    1 -> Small
    2 -> Medium
    3 -> Large -->
{% set imageSizeListValue = content.field_social_media_link_size['#items'].value %}

<!-- imageSize coverts the value from imageSizeListValue into a css class.
     Base value is Tiny corresponding to 0 in the imageSizeListValue. -->
{% set imageSize = 'imgTiny' %}
{% if imageSizeListValue  == 'tiny' %}
	{% set imageSize = 'imgTiny' %}
{% elseif imageSizeListValue == 'small' %}
	{% set imageSize = 'imgSmall' %}
{% elseif imageSizeListValue == 'medium' %}
	{% set imageSize = 'imgMedium' %}
{% elseif imageSizeListValue == 'large' %}
	{% set imageSize = 'imgLarge' %}
{% endif %}


{% block content %}
	<div{{attributes.addClass(classes)}}>
		{{ title_prefix }}
		{% if label %}
			<h2{{title_attributes}}>{{ label }}</h2>
		{% endif %}
		{{ title_suffix }}
		{% if checkMenuOption == 1 %}

				<div class='{{ layoutSelection }}-orientation {{ imageSize }} social-media-icons-block'>
				{{ drupal_menu('social-media-menu') }}
				</div>
		{% else %}
				<div class='{{ layoutSelection }}-orientation {{ imageSize }} social-media-icons-block'>
					{{ content.field_social_media_links|render }}
					{{ content.field_social_media_email_link|render}}
				</div>
		{% endif %}
	</div>
{% endblock content %}