{#
/**
 * @file
 * Theme to implement the text block
 *
 * Created by Joshua Nicholson on 08/09/22
*
#}

{{ attach_library('boulderD9_base/ucb-text-block') }}


{% set classes = [
	'container',
	'block',
	'block-' ~ configuration.provider|clean_class,
	'block-' ~ plugin_id|clean_class,
	bundle ? 'block--type-' ~ bundle|clean_class,
	view_mode ? 'block--view-mode-' ~ view_mode|clean_class,
	''
] %}

{% set blockContent = content['#block_content'] %}
{% set _rendered = blockContent|view|render %}{# Easiest way to ensure the cache is updated when the block or a referenced node is. Resolves #387. #}
{% if blockContent.field_text_block_background.value == '1' %}
	{% set blockBackground = 'text-block-light-gray' %}
{% elseif blockContent.field_text_block_background.value == '2' %}
	{% set blockBackground = 'text-block-dark-gray' %}
{% elseif blockContent.field_text_block_background.value == '3' %}
	{% set blockBackground = 'text-block-black' %}
{% elseif blockContent.field_text_block_background.value == '4' %}
	{% set blockBackground = 'text-block-gold' %}
{% else %}
	{% set blockBackground = 'text-block-white' %}
{% endif %}

{% if blockContent.field_text_block_style.value  == '1' %}
	{% set blockStyle = 'text-block-card' %}
{% else %}
	{% set blockStyle = 'text-block-default' %}
{% endif %}

{% block content %}
	<div{{attributes.addClass(classes)}}>
		<div class="{{ blockBackground }} {{ blockStyle }}">
			{{ title_prefix }}
			{% if label %}
				<h2{{title_attributes}}>{{ label }}</h2>
			{% endif %}
			{{ title_suffix }}
			{{ content.field_text_block_body }}
		</div>
	</div>
{% endblock %}
