{{ attach_library('boulder_base/ucb-latest-issue') }}

{%
  set classes = [
    'block',
    'container',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    bundle ? 'block--type-' ~ bundle|clean_class,
    view_mode ? 'block--view-mode-' ~ view_mode|clean_class,
]
%}

<div{{attributes.addClass(classes)}}>
  {{ title_prefix }}
  <h2{{title_attributes}}>
    {{ label }}
  </h2>
  {{ title_suffix }}
    <latest-issue-block></latest-issue-block>
	</div>