{#
/**
 * @file
 * Theme to implement the text block
 *
 * Created by Joshua Nicholson on 08/09/22
*
#}

{{ attach_library('boulderD9_base/ucb-text-block') }}


{%
  set classes = [
	'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    bundle ? 'block--type-' ~ bundle|clean_class,
    view_mode ? 'block--view-mode-' ~ view_mode|clean_class,
    ''
  ]
%}


{% block content %}
	<div{{attributes.addClass(classes)}}>
		<div>
			{{ title_prefix }}
			{% if label %}
				<h2{{title_attributes}}>{{ label }}</h2>
			{% endif %}
			{{ title_suffix }}
			{{ content }}
		</div>
	</div>
{% endblock %}
