{#
/**
 * @file
 * Theme to implement the image gallery
 *
 * Created by Joshua Nicholson on 08/09/22
*
#}


{{ attach_library('boulderD9_base/ucb-image-gallery') }}

{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    bundle ? 'block--type-' ~ bundle|clean_class,
    view_mode ? 'block--view-mode-' ~ view_mode|clean_class
  ]
%}

{% block content %}
	<div{{attributes.addClass(classes).addClass('container')}}>
		{{ title_prefix }}
		{% if label %}
			<h2{{title_attributes}}>{{ label }}</h2>
		{% endif %}
		{{ title_suffix }}
		<div class="row row-cols-lg-6 row-cols-md-3 row-cols-2 justify-content-center gallery-div">
			{% for key, item in content['#block_content'].field_image_gallery_photo if key|first != '#' %}
				{% if item.entity.field_media_image_caption.value|render|striptags|trim %}
					{% set photoDescription = item.entity.field_media_image_caption.value|render|striptags|trim %}
				{% else %}
					{% set photoDescription = "" %}
				{% endif %}
				<div class="col gallery-item">
					<a href="{{ file_url(item.entity.field_media_image.entity.fileuri) }}" class="glightbox ucb-gallery-lightbox" data-gallery="gallery{{ content['#block_content'].id() }}" data-glightbox="description: {{ photoDescription }} ">
						{{ item|view }}
					</a>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock content %}
