{#
/**
 * @file Template to implement the "Content List" block type
 * @author Timur Tripp
*/
#}

{{ attach_library('boulder_base/ucb-content-list') }}

{% set blockContent = content['#block_content'] %}
{% set _rendered = blockContent|view|render %}{# Easiest way to ensure the cache is updated when the block or a referenced node is. Resolves #377, 378. #}
{% set sort = blockContent.field_content_list_sort.value %}
{% set display = blockContent.field_content_list_display.value %}
{% set items = blockContent.field_content_list_content %}

{# sorting #}
{% if sort == 'created_asc' %}
	{% set items = items|sort((a, b) => a.entity.created.value <=> b.entity.created.value) %}
{% elseif sort == 'created_desc' %}
	{% set items = items|sort((a, b) => b.entity.created.value <=> a.entity.created.value) %}
{% elseif sort == 'alphabetical' %}
	{% set items = items|sort((a, b) => a.entity.title.0.value|trim <=> b.entity.title.0.value|trim) %}
{% endif %}

{%
	set classes = [
		'container',
		'block',
		'block-' ~ configuration.provider|clean_class,
		'block-' ~ plugin_id|clean_class,
		bundle ? 'block--type-' ~ bundle|clean_class,
		view_mode ? 'block--view-mode-' ~ view_mode|clean_class,
		'ucb-content-list',
		'ucb-content-list-display-' ~ display,
	]
%}

{% block content %}<div{{ attributes.addClass(classes) }}>
	{{ title_prefix }}
	{% if label %}<h2{{ title_attributes }}>{{ label }}</h2>{% endif %}
	{{ title_suffix }}
	<div class="ucb-content-list-container">
		{% if display == 'full' %}{% for item in items %}<div class="row ucb-content-list-row">
			{% set image = item.entity.field_ucb_article_thumbnail.entity.field_media_image ?? item.entity.field_ucb_person_photo.entity.field_media_image ?? item.entity.field_how_to_initial_image.entity.field_media_image %}
			<div class="ucb-content-list-text-container{{ image ? ' col-9' : ' container' }}">
				<h4 class="ucb-content-list-title"><a href="{{ item.entity.path.alias }}">{{ item.entity.title.0.value }}</a></h4>
				{% if item.entity.type.0.entity.id == 'ucb_person' %}<div class="ucb-content-list-person-info">
					<div class="ucb-content-list-person-titles">
						{% for title in item.entity.field_ucb_person_title %}<span class="ucb-content-list-person-title">{{ title.value }}</span>{% endfor %}
					</div>
					<div class="ucb-content-list-person-departments">
						{% for department in item.entity.field_ucb_person_department %}<span class="ucb-content-list-person-department">{{ department.entity.name.value }}</span>{% endfor %}
					</div>
					<div class="ucb-content-list-person-contact">
						{% set email = item.entity.field_ucb_person_email.0.value %}{% if email %}<span class="ucb-content-list-person-contact-item ucb-content-list-person-email"><a href="mailto:{{ email }}">{{ email }}</a></span>{% endif %}
						{% set phone = item.entity.field_ucb_person_phone.0.value %}{% if phone %}<span class="ucb-content-list-person-contact-item ucb-content-list-person-phone"><a href="tel:{{ phone|preg_replace('/[^0-9\+]/', '') }}">{{ phone }}</a></span>{% endif %}
					</div>
				</div>{% endif %}{% set summary = item.entity.body.0.summary ?? item.entity.field_ucb_article_summary.0.value %}
				{% if not summary %}{% set body = (item.entity.body.0 ?? item.entity.field_ucb_article_content.0.entity.field_article_text.0).value|render %}{% set bodyTrimmed = body|slice(0, 512) %}{% set summary = bodyTrimmed ~ (body|length > bodyTrimmed|length ? '...') %}{% endif %}
				<p class="ucb-content-list-summary">
					{% autoescape false %}
						{{ summary }}
					{% endautoescape %}
						<a class="ucb-content-list-read-more" href="{{ item.entity.path.alias }}">Read more &raquo;</a></p>
			</div>
			<div class="ucb-content-list-image-container{{ image ? ' col-3' : '' }}">{% if image %}
				{% set imageURI = image.entity.fileuri|image_style('focal_image_square') %}{% set imageAlt = image.alt|render %}
				<a href="{{ item.entity.path.alias }}"><img class="ucb-content-list-image" src="{{ imageURI }}" alt="{{ imageAlt }}"></a>
			{% endif %}</div>
		</div>{% endfor %}{% elseif display == 'condensed' or display == 'teaser' %}{% for item in items %}<div class="row ucb-content-list-row">
			{% set image = item.entity.field_ucb_article_thumbnail.entity.field_media_image ?? item.entity.field_ucb_person_photo.entity.field_media_image ?? item.entity.field_how_to_initial_image.entity.field_media_image %}
			<div class="ucb-content-list-image-container{{ image ? (display == 'condensed' ? ' col-2' : ' col-lg-3 col-2') : '' }}">{% if image %}
				{% set imageURI = image.entity.fileuri|image_style('focal_image_square') %}{% set imageAlt = image.alt|render %}
				<a href="{{ item.entity.path.alias }}"><img class="ucb-content-list-image" src="{{ imageURI }}" alt="{{ imageAlt }}"></a>
			{% endif %}</div>
			<div class="ucb-content-list-text-container{{ image ? (display == 'condensed' ? ' col-10' : ' col-lg-9 col-10') : ' container' }}">
				<h4 class="ucb-content-list-title"><a href="{{ item.entity.path.alias }}">{{ item.entity.title.0.value }}</a></h4>
				{% if item.entity.type.0.entity.id == 'ucb_person' %}<div class="ucb-content-list-person-info">
					<div class="ucb-content-list-person-titles">
						{% for title in item.entity.field_ucb_person_title %}<span class="ucb-content-list-person-title">{{ title.value }}</span>{% endfor %}
					</div>
					<div class="ucb-content-list-person-departments">
						{% for department in item.entity.field_ucb_person_department %}<span class="ucb-content-list-person-department">{{ department.entity.name.value }}</span>{% endfor %}
					</div>
					<div class="ucb-content-list-person-contact">
						{% set email = item.entity.field_ucb_person_email.0.value %}{% if email %}<span class="ucb-content-list-person-contact-item ucb-content-list-person-email"><a href="mailto:{{ email }}">{{ email }}</a></span>{% endif %}
						{% set phone = item.entity.field_ucb_person_phone.0.value %}{% if phone %}<span class="ucb-content-list-person-contact-item ucb-content-list-person-phone"><a href="tel:{{ phone|preg_replace('/[^0-9\+]/', '') }}">{{ phone }}</a></span>{% endif %}
					</div>
				</div>{% endif %}{% set summary = item.entity.body.0.summary ?? item.entity.field_ucb_article_summary.0.value %}
				{% if not summary %}{% set body = (item.entity.body.0 ?? item.entity.field_ucb_article_content.0.entity.field_article_text.0).value|render %}{% set bodyTrimmed = body|slice(0, 128) %}{% set summary = bodyTrimmed ~ (body|length > bodyTrimmed|length ? '...') %}{% endif %}
				<p class="ucb-content-list-summary">
					{% autoescape false %}
						{{ summary }}
					{% endautoescape %}
					    <a class="ucb-content-list-read-more" href="{{ item.entity.path.alias }}">Read more &raquo;</a></p>
			</div>
		</div>{% endfor %}{% elseif display == 'title' %}
		<ul class="ucb-content-list-list">{% for item in items %}
			<li class="ucb-content-list-row ucb-content-list-title"><a href="{{ item.entity.path.alias }}">{{ item.entity.title.0.value }}</a></li>
		{% endfor %}</ul>
		{% elseif display == 'sidebar' %}{% for item in items %}<div class="row ucb-content-list-row">
			{% set image = item.entity.field_ucb_article_thumbnail.entity.field_media_image ?? item.entity.field_ucb_person_photo.entity.field_media_image ?? item.entity.field_how_to_initial_image.entity.field_media_image %}
			<div class="ucb-content-list-text-container{{ image ? ' col-lg-9 col-10' : ' container' }}">
				<span class="ucb-content-list-title"><a href="{{ item.entity.path.alias }}">{{ item.entity.title.0.value }}</a></span>
			</div>
			<div class="ucb-content-list-image-container{{ image ? ' col-lg-3 col-2' : '' }}">{% if image %}
				{% set imageURI = image.entity.fileuri|image_style('focal_image_square') %}{% set imageAlt = image.alt|render %}
				<a href="{{ item.entity.path.alias }}"><img class="ucb-content-list-image" src="{{ imageURI }}" alt="{{ imageAlt }}"></a>
			{% endif %}</div>
		</div>{% endfor %}{% endif %}
	</div>
</div>{% endblock content %}
