{#
/**
 * @file
 * Theme to implement the video reveal block
 *
 * Created by Joshua Nicholson on 08/09/22
*
#}

{{ attach_library('boulder_base/ucb-video-reveal') }}

{%
  set classes = [
	'container',
    'ucb-video-reveal',
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    bundle ? 'block--type-' ~ bundle|clean_class,
    view_mode ? 'block--view-mode-' ~ view_mode|clean_class
  ]
%}

{% set blockId = content['#block_content'].id() %}
{% if content['#block_content'].field_video_reveal_video.entity.field_media_oembed_video is defined %}
	{% set videoURL = content['#block_content'].field_video_reveal_video.entity.field_media_oembed_video.value %}
{% endif %}


{% block content %}
	<div{{attributes.addClass(classes)}}>
		{{ title_prefix }}
		{% if label %}
			<h2{{title_attributes}}>{{ label }}</h2>
		{% endif %}
		{{ title_suffix }}
		<h2>video url: {{videoURL}}</h2>
		<div id="ucb-video-block-{{ blockId }}" class="ucb-video-text-div">
				<div class="ucb-video-reveal-controls">
					<span class="ucb-video-reveal-icon">
						<i class="fas fa-play-circle"></i>
					</span>
					<span class="ucb-video-reveal-text">{{ content.field_video_reveal_text}}</span>
				</div>
				<div class="ucb-video-reveal-image">
					{{ content.field_video_reveal_image|render }}
				</div>
				<div class="ucb-video-reveal-close">
					<i class="fas fa-times-circle ucb-video-reveal-close-button"></i>
				</div>
				{# TO DO - this is where video wrapper will go #}
				<div class="container" id="ucb-video-reveal-video-wrapper-{{blockId}}">
					<script src="https://www.youtube.com/player_api"></script>
					<script type="text/javascript">
					window.addEventListener('load', () => enableVideoHero('{{ videoURL }}', 'ucb-video-reveal-video-wrapper-{{blockId}}'));
					</script>
				</div>
				{# {{ content.field_video_reveal_video|render }} #}
		</div>
	</div>
{% endblock content %}
