{#
/**
 * @file Contains the template to display the Image Gallery block.
 */
#}
{% set classes = [
  'container',
  'block',
  'block-' ~ configuration.provider|clean_class,
  'block-' ~ plugin_id|clean_class,
  bundle ? 'block--type-' ~ bundle|clean_class,
  view_mode ? 'block--view-mode-' ~ view_mode|clean_class
] %}

{% set totalColumns = "6" %}
{% set tabletColumns = "3" %}
{% set masonryStyle = content.field_masonry_display[0]|render|striptags|trim %}
{% set galleryID = 'gallery'|clean_unique_id %}

{% if masonryStyle == "True" %}
  {% set totalColumns = content.field_masonry_columns[0]|render %}
  {% if totalColumns == 2 %}
    {% set tabletColumns = 2 %}
  {% endif %}
{% endif %}

{% extends '@boulder_base/block/styled-block.html.twig' %}
{% block content %}
  {{ attach_library('boulder_base/ucb-image-gallery') }}
  <div class="row row-cols-lg-{{totalColumns}} row-cols-md-{{tabletColumns}} row-cols-2 g-4 gallery-div masonry-option-true" data-masonry='{"percentPosition": true }'>
    {% for key, item in content['#block_content'].field_image_gallery_photo  %}
      {% if key|first != '#' %}
        {% if item.entity.field_media_image_caption.value|render|striptags|trim %}
          {% set photoDescription = item.entity.field_media_image_caption.value|render|striptags|trim %}
        {% else %}
          {% set photoDescription = "" %}
        {% endif %}
        {% if masonryStyle == "True" %}
          <div class="col gallery-item">
            <a href="{{ file_url(item.entity.field_media_image.entity.fileuri) }}" class="glightbox ucb-gallery-lightbox" data-gallery="{{ galleryID }}" data-glightbox="description: {{ photoDescription }} ">
              <div class ="imageMediaStyle large_image_style">
                <img src = "{{ file_url(item.entity.field_media_image.entity.fileuri) }}" alt = "{{item.entity.field_media_image.alt|render}}" width="1500" height = "2250">
              </div>
            </a>
          </div>
        {% else %}
          <div class="col gallery-item">
            <a href="{{ file_url(item.entity.field_media_image.entity.fileuri) }}" class="glightbox ucb-gallery-lightbox" data-gallery="{{ galleryID }}" data-glightbox="description: {{ photoDescription }} ">
              {{ item|view }}
            </a>
          </div>
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>
{% endblock content %}
