{#
/**
 * @file
 * Theme to implement the events calendar embedder
 *
 * Created by Joshua Nicholson on 4/07/22
*
#}

{{ attach_library('boulderD9_base/ucb-events-calendar') }}
{%
  set classes = [
    'content-block',
    'content-blcok--type--' ~ block.bundle|clean_class,
    view_mode ? 'content-block--view-mode--' ~ view_mode|clean_class
  ]
%}

<div{{attributes.addClass(classes)}}>
	{{ title_prefix }}
	{% if label %}
		<h2{{title_attributes}} style="color: black;">{{ label }}</h2>
	{% endif %}
	{{ title_suffix }}
  </div>
{% block content %}
	<div{{attributes.addClass(classes)}}>
        {{ content }}
    </div>
{% endblock %}