{#
/**
 * @file
 * Theme to implement the text block
 *
 * Created by Joshua Nicholson on 08/09/22
*
#}

{{ attach_library('boulder_base/ucb-text-block') }}


{% set classes = [
	'container',
	'block',
	'block-' ~ configuration.provider|clean_class,
	'block-' ~ plugin_id|clean_class,
	bundle ? 'block--type-' ~ bundle|clean_class,
	view_mode ? 'block--view-mode-' ~ view_mode|clean_class,
	''
] %}

{% set blockContent = content['#block_content'] %}

{% set _rendered = blockContent|view|render %}
{# Easiest way to ensure the cache is updated when the block or a referenced node is. Resolves #387. #}

{# Block/Title/Icon Styles #}
{% set blockStyles = [
	content.field_bs_background_style|render|striptags|trim,
	content.field_bs_content_font_scale|render|striptags|trim,
	''
] %}

{% set iconColor = content.field_bs_icon_color|render|striptags|trim %}
{% set iconPosition = content.field_bs_icon_position|render|striptags|trim %}
{% set iconSize = content.field_bs_icon_size|render|striptags|trim %}
{% set headingAlignment = content.field_bs_heading_alignment|render|striptags|trim %}
{% set headingStyle = content.field_bs_heading_style|render|striptags|trim %}
{% set headingSize = content.field_bs_title_font_scale|render|striptags|trim %}
{% set headingTag = content.field_bs_heading|render|striptags|trim %}

{% block content %}
	<div{{attributes.addClass(classes,blockStyles)}}>
		{{ title_prefix }}
		{% if label %}
			<div class="block-title">
			<h2>test: {{ headingTag }}</h2>
					<span class='{{ iconColor }} {{ iconPosition }} {{ iconSize }}'>
						{{ content.field_bs_icon }}
					</span>
					<span class="{{ headingAlignment }} {{ headingStyle }} {{ headingSize }}">
						{{ label }}
					</span>
			</div>
		{% endif %}
		{{ title_suffix }}
		<div class="text-block-body">
			{{ content.field_text_block_body }}
		</div>
	</div>
{% endblock %}
