<div class="collection-category-container">

	<div class="collection-filter-links">
    <button class = "category-single-button" onclick = "resetSingleFilters()">All</button>

		{% for item in items %}
			<button class = "category-single-button category-label-{{ item.content|render|striptags|trim|replace({' ': '-'}) }}" data-category="{{ item.content|render|striptags|trim|replace({' ': '-'}) }}" onclick="filterSingle({{ item.content|render|striptags|trim|replace({' ': '-'}) }})">{{ item.content|render|striptags|trim }}</button>

		{% endfor %}

		{#
		    {% for item in items %}
		        <div class="collection-category-line">
		            <input class="category-checkbox" type="checkbox" data-category="{{ item.content|render|striptags|trim|replace({' ': '-'}) }}" onclick="filterChecked()">
		            <label class="category-label category-label-{{ item.content|render|striptags|trim|replace({' ': '-'}) }}" data-category="{{ item.content|render|striptags|trim|replace({' ': '-'})}}-label">{{ item.content|render|striptags|trim }}</label>
		        </div>
		    {% endfor %}#}
	</div>
</div>