{#
/*
 * Theme layout to display main body copy on basic page
 */
#}

{{ title_prefix }}
{# {% if label %}
      <h2{{ title_attributes }}>{{ label }}</h2>
   {% endif %} #}
{{ title_suffix }}
<div{{attributes}} class="ucb-basic-page-body container bs-background-unstyled block">
  {% for item in items %}
    {{ item.content|render }}
  {% endfor %}
</div>
